<!-- Search Wrapper -->
<div class="search-wrapper">
    <!-- Close Btn -->
    <div class="close-btn"><i class="fa fa-times" aria-hidden="true"></i></div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#" method="post">
                    <input type="search" name="search" placeholder="Type any keywords...">
                    <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                </form>
                </header>
                <nav class="navbar navbar-expand-sm navbar-light sticky-top" style="background-color: #D3D3D3;">
                    <a class="navbar-brand px-4" href="#">
                        <img src="static/img/logo.png" width="100" height="60" alt="" class="rounded">
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto" style="font-family: Marcellus SC; font-size: 23px">
                            <li class="nav-item active">
                                <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                    Posts
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="/recipes/appetizers">Appetizers</a>
                                    <a class="dropdown-item" href="/recipes/main_course">Main Course</a>
                                    <a class="dropdown-item" href="/recipes/desserts">Desserts</a>
                                </div>
                            </li>
                            <!-- <div class="container">
                                <% if (logInUser.accountType == "admin") { %>
                                <% } %>
                            </div> -->
                            <li class="nav-item">
                                <a class="nav-link" href="/extra">Dashboard</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/about">About</a>
                            </li>
                        </ul>
                        <!-- Newsletter Form -->
                        <div class="search-btn">
                            <i class="fa fa-search" aria-hidden="true"></i>
                        </div>
                    </div>
                </nav>