body{
 /* background-image: url("../img/bg.jpg"); */
 background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../img/bg.jpg");
 background-repeat: no-repeat;
 background-size: cover;  
 height: 100vh;
}

.rainy-ashville-gradient {
    background: -moz-linear-gradient(120deg, rgba(166,193,238,0.4), rgba(251,194,235,0.4) 100%);
    background: -webkit-linear-gradient(120deg, rgba(166,193,238,0.4), rgba(251,194,235,0.4) 100%);
    background: -webkit-gradient(linear, 120deg, from(rgba(166,193,238,0.4)), to(rgba(251,194,235,0.4)));
    background: -o-linear-gradient(120deg, rgba(166,193,238,0.4), rgba(251,194,235,0.4) 100%); 
    background: linear-gradient(to 120deg, rgba(166,193,238,0.4), rgba(251,194,235,0.4) 100%); 
    height: 100vh;
}

.card {
    width: 22rem;
<<<<<<< HEAD
    height: 27.5rem;
    top: 20px;
=======
    height: 27rem !important;
    top: 40px !important;
>>>>>>> 18d1efcc61acde14b98a6a8e162cc41e16ca5ef2
    opacity: 70%;
     border: none !important;
}
   
  
  
  .login-heading {
  font-weight: 400;
  font-size: 38px;
  text-align: center;
  font-family: 'Philosopher';
  }
  
  .form-group input {
      width: 16rem;
      padding: 8px 0 8px 14px;
      border-radius: 5px;
      
  }

  .btn {
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    width: 7rem;
    border-radius: 1.5rem;
    /* font-size: 22px; */
<<<<<<< HEAD
=======
  }

  @media only screen and (min-width: 1550px) and (max-width: 1920px) {
    .rainy-ashville-gradient{
      max-width: 1470px;
      height: 1500px;
    }
  }
  
  @media only screen and (min-width: 1300px) and (max-width: 1499px) {
    .rainy-ashville-gradient{
      max-width: 1260px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .rainy-ashville-gradient {
      height: 680px;
    }
  }
  
  @media only screen and (max-width: 767px) {
    .rainy-ashville-gradient {
      height: 580px;
    }
>>>>>>> 18d1efcc61acde14b98a6a8e162cc41e16ca5ef2
  }