html {
  scroll-behavior: smooth;
}

body {
  background: whitesmoke;
  margin: 0;
  font-family: 'Atma';
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  color: black;
}
::selection {
  color: #fff;
  background-color: #8167a9;
}

::-moz-selection {
  color: #fff;
  background-color: #8167a9;
}

h1 {
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  color: #000;
  text-align: center;
}

p {
  font-family: 'Atma';
  font-size: 22px;
  color: black;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  opacity: 1;
  transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1700ms;
}

h1 span {
  display: inline-block;
  transition: all 300ms linear;
  opacity: 1;
  transform: translate(0);
}

h2 {
  text-align: center;
  font-size: 50px;
  color: white;
  font-family: 'Marcellus SC';
}

h3 {
  font-size: 22px;
  color: black;
  font-family: 'Marcellus SC';
}

h4 {
  text-align: left;
  font-family: 'Atma';
  font-size: 20px;
  color: black;
}

h5 {
  text-align: left;
  font-size: 18px;
}


body.hero-anime p {
  opacity: 0;
  transform: translateY(40px);
  transition-delay: 1700ms;
}

.carousel-inner img {
  width: 100%;
  height: 580px;
}

/*  Background Image */

hr.style_1 {
  border: 0;
  height: 160px;
  background-image: url(../images/hr_st1.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*----------------------------
  Page Top Recipe - index/home
------------------------------*/

.page-top-recipe {
  padding-bottom: 110px;
}

.page-top-recipe .pt-recipe-item {
  margin-bottom: 35px;
}

.page-top-recipe .pt-recipe-item:hover .pt-recipe-img:after {
  opacity: 0.34;
}

.page-top-recipe .pt-recipe-item:hover .pt-recipe-img i {
  opacity: 1;
}

.page-top-recipe .pt-recipe-item.large-item {
  text-align: center;
}

.page-top-recipe .pt-recipe-item.large-item .pt-recipe-img img {
  height: 715px;
}

.pt-recipe-img img {
  max-width: 100%;
}

.page-top-recipe .pt-recipe-item.large-item .pt-recipe-text {
  text-align: center;
  display: inline-block;
  background: white;
  margin-top: 330px;
  padding-top: 19px;
  padding-left: 35px;
  padding-right: 35px;
  padding-bottom: 30px;
  z-index: 99;
  position: relative;
}

.page-top-recipe .pt-recipe-item.large-item .pt-recipe-text span {
  color: #878787;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 30px;
}

.page-top-recipe .pt-recipe-item.large-item .pt-recipe-text h3 {
  color: #353535;
  font-weight: 700;
  line-height: 33px;
}

.page-top-recipe .pt-recipe-item .pt-recipe-img {
  height: 311px;
  max-width: 100%;
  position: relative;
  z-index: 1;
}

.page-top-recipe .pt-recipe-item .pt-recipe-img:after {
  position: absolute;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background: #FC0254;
  content: "";
  opacity: 0;
  z-index: -1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page-top-recipe .pt-recipe-item .pt-recipe-img i {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-46px);
  transform: translateY(-46px);
  color: #fff;
  opacity: 0;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.page-top-recipe .pt-recipe-item .pt-recipe-text {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 16px;
}

.page-top-recipe .pt-recipe-item .pt-recipe-text h4 {
  color: #353535;
  line-height: 30px;
  font-weight: 700;
}

@media only screen and (min-width: 1550px) and (max-width: 1920px) {
  .page-top-recipe .container {
    max-width: 1470px;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1499px) {
  .page-top-recipe .container {
    max-width: 1260px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-top-recipe .pt-recipe-item.large-item .pt-recipe-img {
    height: 680px;
  }
}

@media only screen and (max-width: 767px) {
  .page-top-recipe .pt-recipe-item.large-item .pt-recipe-img {
    height: 580px;
  }
}

/* Top Category Area - index/home*/

.single-top-category {
  position: relative;
  z-index: 2;
  margin-bottom: 20px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  overflow: hidden;
}

.single-top-category img {
  width: 100%;
  height: 290px;
}

.single-top-category::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 5;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  background: -webkit-linear-gradient(to right, #000, rgba(0, 0, 0, 0.1));
  background: linear-gradient(to right, #000, rgba(0, 0, 0, 0.1));
}

.single-top-category .top-cta-content {
  position: absolute;
  top: 50%;
  left: 40px;
  width: auto;
  height: auto;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10;
}

.single-top-category .top-cta-content h3 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 5px;
}

@media only screen and (max-width: 767px) {
  .single-top-catagory .top-cta-content h3 {
    font-size: 18px;
  }
}

.single-top-category .top-cta-content h6 {
  color: #ffffff;
  margin-bottom: 30px;
  display: block;
  font-weight: 400;
}

@media only screen and (max-width: 767px) {
  .single-top-category .top-cta-content h6 {
    margin-bottom: 10px;
  }
}

/* Best Recipe Area - posts (dropdown contents)*/

.best-recipe-area {
  position: relative;
  z-index: 1;
  padding-bottom: 50px;
}

.recipe-item {
  margin-bottom: 40px;
}

.recipe-item a {
  display: block;
  margin-bottom: 34px;
}

.recipe-item .image {
  opacity: 1;
  display: block;
  min-width: 100%;
  height: 260px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.recipe-item:hover .image {
  opacity: 0.6;
  -webkit-transform: scale(1.2) rotate(2.5deg);
  transform: scale(1.1);
}

.recipe-item h3 {
  font-size: 23px;
  margin-top: 15px;
}

.recipe-item .ri-text .cat-name {
  color: #fff;
  background: #FC0254;
  display: inline-block;
  font-family: 'Marcellus SC';
  font-size: 12px;
  font-weight: 580;
  text-transform: uppercase;
  padding: 4px 25px 4px 25px;
}

.recipe-item .ri-text a {
  margin-bottom: 20px;
  margin-top: 23px;
}

.recipe-item .ri-text a h4 {
  font-weight: 700;
  font-size: 22px;

}

.row {
  margin: 8px -16px;
}

.row .ratings i {
  font-size: 11px;
  color: #fbb710;
  display: inline-block;
  padding: 0 1px;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 260px;
  transition: .5s ease;
  backface-visibility: hidden;
}

/* Cta Area - */
.cta-area {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 675px;
  background-attachment: fixed;
}

.cta-area .cta-content h2 {
  font-size: 72px;
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 400;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cta-area .cta-content h2 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .cta-area .cta-content h2 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 767px) {
  .cta-area .cta-content h2 {
    font-size: 30px;
  }
}

.cta-area .cta-content p {
  color: #ffffff;
  margin-bottom: 100px;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  .cta-area .cta-content p {
    margin-bottom: 50px;
  }
}

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-overlay {
  position: relative;
  z-index: 2;
  background-position: center center;
  background-size: cover;
}

.bg-overlay::after {
  background-color: rgba(10, 12, 18, 0.55);
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
}

/*------Feature Recipe - home--------*/

.feature-recipe {
  position: relative;
  background: #F8F9FB;
  padding-top: 55px;
  padding-bottom: 55px;
}

.fr-item {
  margin-bottom: 30px;
}

.fr-item .fr-item-img {
  float: left;
  margin-left: 18px;
  margin-right: 30px;
}

.fr-item .fr-item-img img {
  height: 280px;
  width: 280px;
  border-radius: 50%;
}

.fr-item .fr-item-img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.fr-item .fr-item-text {
  padding-top: 32px;
  padding-bottom: 25px;
}

.fr-item .fr-item-text h4 {
  color: #353535;
  line-height: 30px;
  margin-bottom: 10px;
  font-size: 21px;
}

.fr-item .fr-item-text p {
  color: #353535;
  line-height: 30px;
  margin-bottom: 10px;
  font-size: 19px;
}

/* About -- Breadcumb Area CSS*/
.breadcumb-area {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 250px;
  margin-right: 4%;
}

@media only screen and (max-width: 767px) {
  .breadcumb-area {
    height: 120px;
  }
}

.breadcumb-area .breadcumb-text h2 {
  font-size: 40px;
  color: #ffffff;
}

@media only screen and (max-width: 767px) {
  .breadcumb-area .breadcumb-text h2 {
    font-size: 24px;
  }
}

/*--------Footer--------*/

.footer-section {
  background: whitesmoke;
  padding-top: 70px;
}

.footer-section .fs-left {
  margin-bottom: 31px;
}

.footer-section .fs-left .logo a {
  display: inline-block;
}

.footer-section .fs-left .logo img {
  width: 60%;
  height: 20%;
}

.footer-section .fs-left p {
  color: #505050;
  margin-bottom: 35%;
}

.footer-section .subscribe-form {
  margin-bottom: 38px;
  padding-top: 25px;
}

.footer-section .subscribe-form h3 {
  color: #353535;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-section .subscribe-form input {
  width: calc(100% - 225px);
  height: 64px;
  border: 1px solid #fff;
  display: inline-block;
  margin-right: 15px;
  padding-left: 34px;
  padding-right: 10px;
  font-size: 16px;
  font-style: italic;
  color: #353535;
}

.footer-section .subscribe-form input::-webkit-input-placeholder {
  color: #353535;
}

.footer-section .subscribe-form input::-moz-placeholder {
  color: #353535;
}

.footer-section .subscribe-form input:-ms-input-placeholder {
  color: #353535;
}

.footer-section .subscribe-form input::-ms-input-placeholder {
  color: #353535;
}

.footer-section .subscribe-form input::placeholder {
  color: #353535;
}

.footer-section .subscribe-form button {
  border: 1px solid #FC0254;
  background: #FC0254;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 17px 40px;
  display: inline-block;
  cursor: pointer;
  min-width: 205px;
}

.footer-section .social-links a {
  display: inline-block;
  margin-right: 35px;
  margin-bottom: 15px;
}

.footer-section .social-links a:hover i {
  color: #0DB1F6;
}

.footer-section .social-links a i {
  color: #B8C1D0;
  font-size: 28px;
  float: left;
  margin-right: 22px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.footer-section .social-links a span {
  color: #fff;
  float: left;
  line-height: 27px;
  font-size: 12px;
  color: #8f8f8f;
  text-transform: uppercase;
}

.footer-section .copyright-text {
  font-size: 14px;
  color: #b8c1d0;
  padding-top: 50px;
  padding-bottom: 8px;
}

/* ----------------------- Single Page Recipe Area ------------------------*/

.single-page-recipe {
  padding-bottom: 70px;
}

.spad {
  padding-top: 100px;
  padding-bottom: 100px;
}

.recipe-top {
  margin-bottom: 128px;
  padding: 0 60px;
}

.recipe-top .recipe-title {
  text-align: center;
  margin-bottom: 90px;
}

.recipe-top .recipe-title span {
  display: inline-block;
  color: #FC0254;
  font-size: 16px;
}

.recipe-top .recipe-title h2 {
  color: #353535;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 44px;
  margin-top: 40px;
}

.recipe-top .recipe-title ul li {
  list-style: none;
  display: inline-block;
  font-size: 15px;
  font-weight: 50;
  text-transform: capitalize;
  background: #FC0254;
  color: #fff;
  padding: 4px 25px 4px 25px;
  margin-right: 2px;
}

.recipe-top .recipe-title ul li:last-child {
  margin-right: 0;
}

.sizer {
  width: 80%;
}

.ingredients-item {
  border: 2px solid #eef0f6;
  margin-bottom: 20px;
}

.ingredients-item .intro-item {
  background: #FC0254;
  text-align: center;
  position: relative;
  padding-top: 110px;
  padding-left: 20px;
  padding-right: 20px;
}

.ingredients-item .intro-item img {
  height: 122px;
  width: 122px;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: -38px;
  -webkit-transform: translateX(-61px);
  transform: translateX(-61px);
}

.ingredients-item .intro-item h2 {
  color: #fff;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 15px;
}

.ingredients-item .intro-item .rating {
  margin-bottom: 15px;
}

.ingredients-item .intro-item .rating i {
  margin-right: 2px;
  font-size: 11px;
  color: #fbb710;
  display: inline-block;
  padding: 0 1px;
}


.ingredients-item .intro-item .rating i:last-child {
  margin-right: 0;
}

.ingredients-item .intro-item .reviews {
  color: #fff;
  font-size: 15px;
  opacity: 0.7;
  margin-bottom: 35px;
}

.ingredients-item .intro-item .recipe-time {
  background: #000;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: -20px;
  margin-right: -20px;
}

.ingredients-item .intro-item .recipe-time ul li {
  list-style: none;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  margin-right: 20px;
  margin-bottom: 10px;
}

.ingredients-item .intro-item .recipe-time ul li:last-child {
  margin-right: 0;
}

.ingredients-item .intro-item .recipe-time ul li span {
  font-weight: 400;
}

.ingredients-item .ingredient-list {
  padding: 22px 20px;
}

.ingredients-item .ingredient-list .recipe-btn {
  margin-bottom: 38px;
}

.ingredients-item .ingredient-list .recipe-btn a {
  display: inline-block;
  background: #FC0254;
  color: #fff;
  padding: 15px 57px;
  font-size: 16px;
  text-decoration: none;
}

.ingredients-item .ingredient-list .recipe-btn a.black-btn {
  margin-left: 15px;
  background: #000;
}

.ingredients-item .ingredient-list .list-item {
  padding-left: 20px;
}

.ingredients-item .ingredient-list .list-item h4 {
  color: #353535;
  font-weight: bolder;
  font-family: 'Marcellus SC';
  text-transform: uppercase;
  margin-bottom: 26px;
}

.ingredients-item .ingredient-list .list-item .salad-list {
  margin-bottom: 44px;
}

.ingredients-item .ingredient-list .list-item .salad-list h6 {
  color: #98a2a8;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.ingredients-item .ingredient-list .list-item .salad-list ul li {
  list-style: none;
  font-size: 19px;
  color: #353535;
  line-height: 36px;
  position: relative;
  padding-left: 38px;
}

.ingredients-item .ingredient-list .list-item .salad-list ul li:after {
  position: absolute;
  left: 0;
  top: 14px;
  width: 9px;
  height: 9px;
  background: #000;
  content: "";
  border-radius: 50%;
}

.ingredients-item .ingredient-list .list-item .dressing-list {
  margin-bottom: 30px;
}

.ingredients-item .ingredient-list .list-item .dressing-list h6 {
  color: #98a2a8;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.ingredients-item .ingredient-list .list-item .dressing-list ul li {
  list-style: none;
  font-size: 19px;
  color: #353535;
  line-height: 36px;
  position: relative;
  padding-left: 38px;
}

.ingredients-item .ingredient-list .list-item .dressing-list ul li:after {
  position: absolute;
  left: 0;
  top: 14px;
  width: 9px;
  height: 9px;
  background: #000;
  content: "";
  border-radius: 50%;
}

.nutrition-fact {
  background: #353535;
  padding: 0 40px;
  padding-top: 50px;
  padding-bottom: 20px;
}

.nutrition-fact .nutri-title {
  overflow: hidden;
  padding-bottom: 35px;
  margin-left: -40px;
  margin-right: -40px;
  border-bottom: 2px solid #fff;
  padding-left: 40px;
  padding-right: 40px;
}

.nutrition-fact .nutri-title h4 {
  float: left;
  color: #fff;
}

.nutrition-fact .nutri-title span {
  float: right;
  color: #fff;
}

.nutrition-fact ul {
  margin-top: 23px;
}

.nutrition-fact ul li {
  list-style: none;
  display: inline-block;
  font-size: 15px;
  color: #fff;
  margin-right: 15px;
  margin-bottom: 10px;
}

.nutrition-fact ul li:last-child {
  margin-right: 0;
}

.recipe-right .recipe-desc {
  margin-bottom: 50px;
}

.recipe-right .recipe-desc h3 {
  color: #353535;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.recipe-right .recipe-desc p {
  margin-bottom: 25px;
}

.recipe-right .instruction-list {
  margin-bottom: 42px;
}

.recipe-right .instruction-list h3 {
  color: #353535;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 50px;
}

.recipe-right .instruction-list h4 {
  color: #353535;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Marcellus SC';
  margin-bottom: 10px;
}

.recipe-right .instruction-list ul li {
  list-style: none;
  color: #353535;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 32px;
  position: relative;
  padding-left: 68px;
}

.recipe-right .instruction-list ul li span {
  position: absolute;
  left: 0;
  top: 0;
  color: #FC0254;
  font-size: 18px;
  font-weight: 700;
}

.recipe-right .notes h3 {
  color: #353535;
  font-weight: 700;
  margin-bottom: 35px;
}

.recipe-right .notes .notes-item {
  background: #e6e6e6;
  padding-left: 34px;
  padding-top: 30px;
  padding-right: 25px;
  padding-bottom: 15px;
  margin-bottom: 30px;
}

.recipe-right .notes .notes-item span {
  color: #fff;
  display: inline-block;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 700;
  height: 27px;
  width: 27px;
  text-align: center;
  line-height: 27px;
  background: #FC0254;
}

.recipe-right .notes .notes-item p {
  margin-top: 10px;
}

/* ------appetizers recipes------*/

/* Contact Form - Email */

.contact-form-area .section-heading {
  text-align: center;
  padding-top: 5px;
}

.contact-form-area .section-heading h3 {
  font-size: 35px;
}

.contact-form-area .form-control {
  height: 52px;
  width: 100%;
  background-color: #eff2f6;
  font-size: 15px;
  font-style: italic;
  margin-bottom: 15px;
  border: none;
  border-left: 3px solid #eff2f6;
  border-radius: 0;
  padding: 15px 30px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.contact-form-area .form-control:focus {
  border-left: 3px solid #40ba37;
  box-shadow: none;
}

.contact-form-area textarea.form-control {
  height: 200px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

/* Button */
.delicious-btn {
  display: inline-block;
  min-width: 160px;
  height: 60px;
  color: #ffffff;
  border: none;
  border-left: 3px solid #1c8314;
  border-radius: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 58px;
  font-weight: 600;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  text-transform: capitalize;
  background-color: #40ba37;
}

.delicious-btn.active,
.delicious-btn:hover,
.delicious-btn:focus {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  background-color: #1c8314;
  border-color: #40ba37;
}

.delicious-btn.btn-2 {
  background-color: #1c8314;
  border-color: #40ba37;
}

.delicious-btn.btn-2.active,
.delicious-btn.btn-2:hover,
.delicious-btn.btn-2:focus {
  background-color: #40ba37;
  border-color: #1c8314;
}

.delicious-btn.btn-3 {
  background-color: #474747;
  border-color: #1c8314;
}

.delicious-btn.btn-3.active,
.delicious-btn.btn-3:hover,
.delicious-btn.btn-3:focus {
  background-color: #40ba37;
  border-color: #1c8314;
}

.delicious-btn.btn-4 {
  background-color: transparent;
  border: 3px solid #40ba37;
  line-height: 53px;
  color: #40ba37;
}

@media only screen and (max-width: 767px) {
  .delicious-btn.btn-4 {
    height: 40px;
    line-height: 33px;
  }
}

.delicious-btn.btn-4.active,
.delicious-btn.btn-4:hover,
.delicious-btn.btn-4:focus {
  line-height: 53px;
  color: #ffffff;
  background-color: #40ba37;
}

@media only screen and (max-width: 767px) {

  .delicious-btn.btn-4.active,
  .delicious-btn.btn-4:hover,
  .delicious-btn.btn-4:focus {
    height: 40px;
    line-height: 33px;
  }
}

@media only screen and (max-width: 767px) {
  .delicious-btn {
    height: 40px;
    line-height: 39px;
  }
}

.follow-us-instagram {
  position: relative;
  z-index: 1;
  border-top: 1px solid #dcdcdc;
}

.follow-us-instagram h5 {
  font-size: 18px;
  padding: 35px 0;
  margin-bottom: 0;
}

.follow-us-instagram .insta-feeds {
  position: relative;
  z-index: 1;
}

.follow-us-instagram .insta-feeds .single-insta-feeds {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 14.2857%;
  flex: 0 0 14.2857%;
  max-width: 14.2857%;
  width: 14.2857%;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
  overflow: hidden;
}

@media only screen and (max-width: 767px) {
  .follow-us-instagram .insta-feeds .single-insta-feeds {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    width: 25%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .follow-us-instagram .insta-feeds .single-insta-feeds {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    width: 20%;
  }
}

.follow-us-instagram .insta-feeds .single-insta-feeds img {
  width: 100%;
  height: 200px;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.follow-us-instagram .insta-feeds .single-insta-feeds .plus-icon {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(64, 186, 55, 0.9);
  top: 0;
  left: 0;
  z-index: 10;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -ms-grid-row-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.follow-us-instagram .insta-feeds .single-insta-feeds .plus-icon a {
  display: inline-block;
  color: #ffffff;
  font-size: 18px;
}

.follow-us-instagram .insta-feeds .single-insta-feeds:hover img {
  -webkit-transform: scale(1.2) rotate(2.5deg);
  transform: scale(1.2) rotate(2.5deg);
}

.follow-us-instagram .insta-feeds .single-insta-feeds:hover .plus-icon {
  opacity: 1;
  visibility: visible;
}


/*------------------About Me-------------------*/


.about .about-title {
  text-align: center;
  padding-top: 55px;
}

.about .about-title span {
  display: inline-block;
  color: #FC0254;
  font-size: 16px;
}

.about .about-title h2 {
  color: #353535;
  font-size: 48px;
  font-weight: 700;
  line-height: 48px;
  margin-bottom: 42px;
  margin-top: 16px;
}

.about .about-title p {
  margin-bottom: 26px;
}


/* ----------------------- Responsive Media Styles ------------------------*/

@media only screen and (min-width: 1550px) and (max-width: 1920px) {
  .page-top-recipe .container {
    max-width: 1470px;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1499px) {
  .page-top-recipe .container {
    max-width: 1260px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .cta-area .cta-content h2 {
    font-size: 48px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .page-top-recipe .pt-recipe-item.large-item .pt-recipe-img {
    height: 680px;
  }

  .cta-area .cta-content h2 {
    font-size: 48px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .top-header-area {
    height: 70px;
  }

  .single-top-catagory .top-cta-content h3 {
    font-size: 18px;
  }

  .page-top-recipe .pt-recipe-item.large-item .pt-recipe-img {
    height: 580px;
  }

  .single-top-category .top-cta-content h6 {
    margin-bottom: 10px;
  }

  .cta-area .cta-content h2 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 1550px) and (max-width: 1920px) {
  .footer-section .container {
    max-width: 1470px;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1499px) {
  .footer-section .container {
    max-width: 1260px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .footer-section .subscribe-form input {
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-section-other {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media only screen and (max-width: 767px) {
  .header-section-other {
    padding-left: 0;
    padding-right: 0;
    height: auto;
  }

  .header-section-other .logo {
    float: none;
    text-align: center;
    margin-bottom: 10px;
  }

  .cta-area .cta-content p {
    margin-bottom: 50px;
  }

  .footer-section .subscribe-form input {
    margin-bottom: 15px;
  }

  .footer-section .subscribe-form input {
    width: 100%;
  }

  .footer-section .social-links a {
    margin-right: 10px;
  }

  .footer-section .social-links a span {
    display: none;
  }


  .clearfix:after,
  .marquee-list-header-body:after,
  .top-pathing-inner:after,
  .custom-promo-inner:after,
  .feed-list:after,
  .feed-custom:after,
  .feed-block-container:after,
  .feed-grid:after,
  .feed-block-big-story .custom-item-inner:after,
  .block-layout-text-under .feed-block-big-story .custom-item-inner:after,
  .block-layout-video .feed-block-big-story .custom-item-inner:after,
  .block-layout-no-image .feed-block-big-story .custom-item-inner:after {
    content: ' ';
    display: table;
    clear: both;
  }
}

/* :: 4.0 Search Wrapper */
.search-wrapper {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 200;
  top: -80px;
  left: 0;
  background-color: white;
  -webkit-transition-duration: 700ms;
  transition-duration: 700ms;
}

.search-wrapper form {
  position: relative;
  z-index: 1;
}

.search-wrapper form input {
  width: 90%;
  height: 40px;
  border: 2px solid #ffffff;
  font-size: 12px;
  font-style: italic;
  padding: 0 20px;
  margin: 15px 0;
}

@media only screen and (max-width: 767px) {
  .search-wrapper form input {
    width: 80%;
  }
}

.search-wrapper form button {
  position: absolute;
  width: 60px;
  height: 40px;
  z-index: 1;
  top: 15px;
  border: none;
  right: 10%;
  cursor: pointer;
  outline: none;
}

@media only screen and (max-width: 767px) {
  .search-wrapper form button {
    right: 20%;
  }
}

.search-wrapper .close-btn {
  position: absolute;
  width: 70px;
  height: 100%;
  background-color: #000000;
  line-height: 50px;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  line-height: 70px;
  font-size: 12px;
  right: 0;
  top: 0;
  z-index: 100;
}

.search-wrapper.on {
  top: 0;
}

.header-area .delicious-main-menu .classynav .search-btn {
  color: #b6b6b6;
  margin-left: 150px;
  cursor: pointer;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.header-area .delicious-main-menu .classynav .search-btn i {
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

.header-area .delicious-main-menu .classynav .search-btn:hover i,
.header-area .delicious-main-menu .classynav .search-btn:focus i {
  color: #40ba37;
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .header-area .delicious-main-menu .classynav .search-btn {
    margin-left: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .header-area .delicious-main-menu .classynav .search-btn {
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .delicious-main-menu .classynav .search-btn {
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 767px) {
  .header-area .nav-brand img {
    max-width: 90px;
  }
}


/* #Primary
================================================== */



/* #Navigation
================================================== */

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 20px 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

/* #Primary style
================================================== */

.bg-light {
  background-color: #fff !important;
  transition: all 200ms linear;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.full-height {
  height: 100vh;
}

.over-hide {
  overflow: hidden;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 20;
}

h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  color: #212112;
  text-align: center;
}

p {
  text-align: center;
  margin: 0;
  padding-top: 10px;
  opacity: 1;
  transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1700ms;
}

body.hero-anime p {
  opacity: 0;
  transform: translateY(40px);
  transition-delay: 1700ms;
}

h1 span {
  display: inline-block;
  transition: all 300ms linear;
  opacity: 1;
  transform: translate(0);
}

body.hero-anime h1 span:nth-child(1) {
  opacity: 0;
  transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(2) {
  opacity: 0;
  transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(3) {
  opacity: 0;
  transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(4) {
  opacity: 0;
  transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(5) {
  opacity: 0;
  transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(6) {
  opacity: 0;
  transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(7) {
  opacity: 0;
  transform: translateY(-40px);
}

body.hero-anime h1 span:nth-child(8) {
  opacity: 0;
  transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(9) {
  opacity: 0;
  transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(10) {
  opacity: 0;
  transform: translateY(-20px);
}

h1 span:nth-child(1) {
  transition-delay: 1000ms;
}

h1 span:nth-child(2) {
  transition-delay: 700ms;
}

h1 span:nth-child(3) {
  transition-delay: 900ms;
}

h1 span:nth-child(4) {
  transition-delay: 800ms;
}

h1 span:nth-child(5) {
  transition-delay: 1000ms;
}

h1 span:nth-child(6) {
  transition-delay: 700ms;
}

h1 span:nth-child(7) {
  transition-delay: 900ms;
}

h1 span:nth-child(8) {
  transition-delay: 800ms;
}

h1 span:nth-child(9) {
  transition-delay: 600ms;
}

h1 span:nth-child(10) {
  transition-delay: 700ms;
}

body.hero-anime h1 span:nth-child(11) {
  opacity: 0;
  transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(12) {
  opacity: 0;
  transform: translateY(50px);
}

body.hero-anime h1 span:nth-child(13) {
  opacity: 0;
  transform: translateY(20px);
}

body.hero-anime h1 span:nth-child(14) {
  opacity: 0;
  transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(15) {
  opacity: 0;
  transform: translateY(50px);
}

h1 span:nth-child(11) {
  transition-delay: 1300ms;
}

h1 span:nth-child(12) {
  transition-delay: 1500ms;
}

h1 span:nth-child(13) {
  transition-delay: 1400ms;
}

h1 span:nth-child(14) {
  transition-delay: 1200ms;
}

h1 span:nth-child(15) {
  transition-delay: 1450ms;
}

#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

#switch {
  width: 60px;
  height: 8px;
  border: 2px solid #8167a9;
  border-radius: 27px;
  background: #000;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1900ms;
}

body.hero-anime #switch {
  opacity: 0;
  transform: translateY(40px);
  transition-delay: 1900ms;
}

#circle {
  position: absolute;
  top: -11px;
  left: -13px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #000;
}

.switched {
  border-color: #000 !important;
  background: #8167a9 !important;
}

.switched #circle {
  left: 43px;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  background: #fff;
}

.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 3px 15px;
  color: #212121;
  border-radius: 2px;
  transition: all 200ms linear;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: rgba(129, 103, 169, .6);
}

body.dark {
  color: #fff;
  background-color: #1f2029;
}

body.dark .navbar-brand img {
  filter: brightness(100%);
}

body.dark h1 {
  color: #fff;
}

body.dark h1 span {
  transition-delay: 0ms !important;
}

body.dark p {
  color: #fff;
  transition-delay: 0ms !important;
}

body.dark .bg-light {
  background-color: #14151a !important;
}

body.dark .start-header {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

body.dark .start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

body.dark .nav-link {
  color: #fff !important;
}

body.dark .nav-item.active .nav-link {
  color: #999 !important;
}

body.dark .dropdown-menu {
  color: #fff;
  background-color: #1f2029;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

body.dark .dropdown-item {
  color: #fff;
}

body.dark .navbar-light .navbar-toggler-icon {
  border-bottom: 1px solid #fff;
}

body.dark .navbar-light .navbar-toggler-icon:after,
body.dark .navbar-light .navbar-toggler-icon:before {
  background-color: #fff;
}

body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}



/* #Navigation
================================================== */

.start-header {
  opacity: 1;
  transform: translateY(0);
  padding: 20px 0;
  box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  padding: 10px 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
  /* height: 18px; */
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navigation-wrap {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar {
  padding: 0;
}

.navbar-brand img {
  height: 28px;
  width: auto;
  display: block;
  filter: brightness(10%);
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.navbar-toggler {
  float: right;
  border: none;
  padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

.navbar-light .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 1px solid #000;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 1px;
  background-color: #000;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
  top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
  transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}

.nav-link {
  color: #212121 !important;
  font-weight: 500;
  transition: all 200ms linear;
}

.nav-item:hover .nav-link {
  color: #8167a9;
}

.nav-item.active .nav-link {
  color: #777 !important;
}

.nav-link {
  position: relative;
  padding: 5px 0 !important;
  display: inline-block;
}

.nav-item:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  content: '';
  /* background-color: #8167a9; */
  opacity: 0;
  transition: all 200ms linear;
}

.nav-item:hover:after {
  bottom: 0;
  opacity: 1;
}

.nav-item.active:hover:after {
  opacity: 0;
}

.nav-item {
  position: relative;
  transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
  background-color: #fff !important;
  transition: all 200ms linear;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.full-height {
  height: 100vh;
}

.over-hide {
  overflow: hidden;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  margin-top: 40px;
  transform: translateY(-50%);
  z-index: 20;
}



body.hero-anime h1 span:nth-child(1) {
  opacity: 0;
  transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(2) {
  opacity: 0;
  transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(3) {
  opacity: 0;
  transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(4) {
  opacity: 0;
  transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(5) {
  opacity: 0;
  transform: translateY(-50px);
}

body.hero-anime h1 span:nth-child(6) {
  opacity: 0;
  transform: translateY(-20px);
}

body.hero-anime h1 span:nth-child(7) {
  opacity: 0;
  transform: translateY(-40px);
}

body.hero-anime h1 span:nth-child(8) {
  opacity: 0;
  transform: translateY(-10px);
}

body.hero-anime h1 span:nth-child(9) {
  opacity: 0;
  transform: translateY(-30px);
}

body.hero-anime h1 span:nth-child(10) {
  opacity: 0;
  transform: translateY(-20px);
}

h1 span:nth-child(1) {
  transition-delay: 1000ms;
}

h1 span:nth-child(2) {
  transition-delay: 700ms;
}

h1 span:nth-child(3) {
  transition-delay: 900ms;
}

h1 span:nth-child(4) {
  transition-delay: 800ms;
}

h1 span:nth-child(5) {
  transition-delay: 1000ms;
}

h1 span:nth-child(6) {
  transition-delay: 700ms;
}

h1 span:nth-child(7) {
  transition-delay: 900ms;
}

h1 span:nth-child(8) {
  transition-delay: 800ms;
}

h1 span:nth-child(9) {
  transition-delay: 600ms;
}

h1 span:nth-child(10) {
  transition-delay: 700ms;
}

body.hero-anime h1 span:nth-child(11) {
  opacity: 0;
  transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(12) {
  opacity: 0;
  transform: translateY(50px);
}

body.hero-anime h1 span:nth-child(13) {
  opacity: 0;
  transform: translateY(20px);
}

body.hero-anime h1 span:nth-child(14) {
  opacity: 0;
  transform: translateY(30px);
}

body.hero-anime h1 span:nth-child(15) {
  opacity: 0;
  transform: translateY(50px);
}

h1 span:nth-child(11) {
  transition-delay: 1300ms;
}

h1 span:nth-child(12) {
  transition-delay: 1500ms;
}

h1 span:nth-child(13) {
  transition-delay: 1400ms;
}

h1 span:nth-child(14) {
  transition-delay: 1200ms;
}

h1 span:nth-child(15) {
  transition-delay: 1450ms;
}

#switch,
#circle {
  cursor: pointer;
  -webkit-transition: all 300ms linear;
  transition: all 300ms linear;
}

#switch {
  width: 60px;
  height: 8px;
  border: 2px solid #8167a9;
  border-radius: 27px;
  background: #000;
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
  opacity: 1;
  transform: translate(0);
  transition: all 300ms linear;
  transition-delay: 1900ms;
}

body.hero-anime #switch {
  opacity: 0;
  transform: translateY(40px);
  transition-delay: 1900ms;
}

#circle {
  position: absolute;
  top: -11px;
  left: -13px;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #000;
}

.switched {
  border-color: #000 !important;
  background: #8167a9 !important;
}

.switched #circle {
  left: 43px;
  box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
  background: #fff;
}

.nav-item .dropdown-menu {
  transform: translate3d(0, 10px, 0);
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  padding: 0;
  margin: 0;
  transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
  opacity: 1;
  visibility: visible;
  max-height: 999px;
  transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
  padding: 10px !important;
  margin: 0;
  font-size: 13px;
  letter-spacing: 1px;
  color: #212121;
  background-color: #fcfaff;
  border: none;
  border-radius: 3px;
  box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
  transition: all 200ms linear;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-item {
  padding: 3px 15px;
  color: #212121;
  border-radius: 2px;
  transition: all 200ms linear;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #fff;
  background-color: rgba(129, 103, 169, .6);
}

body.dark {
  color: #fff;
  background-color: #1f2029;
}

body.dark .navbar-brand img {
  filter: brightness(100%);
}

body.dark h1 {
  color: #fff;
}

body.dark h1 span {
  transition-delay: 0ms !important;
}

body.dark p {
  color: #fff;
  transition-delay: 0ms !important;
}

body.dark .bg-light {
  background-color: #14151a !important;
}

body.dark .start-header {
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.15);
}

body.dark .start-header.scroll-on {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.15);
}

body.dark .nav-link {
  color: #fff !important;
}

body.dark .nav-item.active .nav-link {
  color: #999 !important;
}

body.dark .dropdown-menu {
  color: #fff;
  background-color: #1f2029;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.25);
}

body.dark .dropdown-item {
  color: #fff;
}

body.dark .navbar-light .navbar-toggler-icon {
  border-bottom: 1px solid #fff;
}

body.dark .navbar-light .navbar-toggler-icon:after,
body.dark .navbar-light .navbar-toggler-icon:before {
  background-color: #fff;
}

body.dark .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  border-color: transparent;
}
/* #profile pic css
================================================== */
body{
  padding: 2rem 0rem;
}
.avatar {
  border: 0.3rem solid rgba(#fff, 0.3);
  margin-top: -6rem;
  margin-bottom: 1rem;
  max-width: 9rem;
  height: 9rem;
}


/* #Media
================================================== */

@media (max-width: 767px) {
  h1 {
    font-size: 38px;
  }

  .nav-item:after {
    display: none;
  }

  .nav-item::before {
    position: absolute;
    display: block;
    top: 15px;
    left: 0;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
  }

  .dropdown-toggle::after {
    position: absolute;
    display: block;
    top: 10px;
    left: -23px;
    width: 1px;
    height: 11px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
    transition: all 200ms linear;
  }

  .dropdown-toggle[aria-expanded="true"]::after {
    transform: rotate(90deg);
    opacity: 0;
  }

  .dropdown-menu {
    padding: 0 !important;
    background-color: transparent;
    box-shadow: none;
    transition: all 200ms linear;
  }

  .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
    margin-top: 10px !important;
    margin-bottom: 20px !important;
  }

  body.dark .nav-item::before {
    background-color: #fff;
  }

  body.dark .dropdown-toggle::after {
    background-color: #fff;
  }

  body.dark .dropdown-menu {
    background-color: transparent;
    box-shadow: none;
  }
}

/* #Link to page
================================================== */

.logo {
  position: absolute;
  bottom: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

.logo img {
  height: 26px;
  width: auto;
  display: block;
  filter: brightness(10%);
  transition: all 250ms linear;
}

body.dark .logo img {
  filter: brightness(100%);
}