<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>


  <!-- ##### Header Area Start ##### -->
  <header class="header-area">
    <%- include('../partials/header'); %>

    <!-- About Me Section Begin -->
    <section class="about-me spad">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="about">
              <img src="static/img/bg1.png" alt="">
              <div class="about-title">
                <span>December 10, 2019</span>
                <h2 class="text-capitalize">I’m Evangeline G. Decorion, <br />a student & a food enthusiast.</h2>
                <p>Welcome my fellow Food Cravers!</p>
                <p>How are you today? Hope you are more crave than ever. First, I would like to ask a favor to hit
                  thew button and subscribe to my blog and stay updated for more recipes that will surely make you
                  crave for more</p>
                <p>Now, about me. I am an aspiring baker, trying to learn how to perfectly bake pastries and
                  discovering more about my passion to food.</p>
                <p>Join me as I discover lots and lots of recipes all over the world. Don't hesitate to reach me out
                  if you have any inquiries.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="style_1">
    <!-- Footer Section Begin -->
    <footer class="footer-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-5">
            <div class="fs-left">
              <div class="logo">
                <a href="/home">
                  <img src="static/img/logo18.png" alt="">
                </a>
              </div>
              <p>Craving for food? Well, this blog is right for you. I present to you a wide range of
                food selections
                from appetizing appetizers to mouthwatering desserts. Check out some of these
                yummies and don't forget
                to subscribe.</p>
            </div>
          </div>
          <div class="col-lg-6 offset-lg-1">
            <form action="#" class="subscribe-form">
              <h3>Subscribe to our newsletter</h3>
              <input type="email" placeholder="Your e-mail">
              <button type="submit">Subscribe</button>
            </form>
            <div class="social-links">
              <a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a>
              <a href="#"><i class="fab fa-pinterest"></i><span>Pinterest</span></a>
              <a href="#"><i class="fab fa-facebook"></i><span>Facebook</span></a>
              <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
              <a href="#"><i class="fab fa-youtube"></i><span>Youtube</span></a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="copyright-text">
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved |
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->
    <script src="/static/js/active.js"></script>
</body>

</html>