<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>
  <!-- ##### Header Area Start ##### -->
  <header>
    <%- include('../partials/header'); %>
  </header>
  <!-- About Me Section Begin -->
  <section class="about-me spad">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="about">
            <div class="about-title">
              <span>December 10, 2020</span>
              <h2 class="text-capitalize">Welcome Aboard!!!<br />Fellow food Cravers.<br></h2>
              <!-- <p>Welcome my fellow Food Cravers!</p> -->
            </div>
            <img class="rounded float-left" src="static/img/bg1.png" style="height:50%px; width: 50%;">
          </div>
          <div style="margin-top:6rem; margin-bottom: 0;">
            <p class="text-center ml-5 mt-5">How are you today? Hope you are more hungry and excited than
              ever. First, please do make an account into this web app and stay motivated to save as many recipes as
              many food you crave.
            </p>

          </div>
          <div class="d-inline-block text-center">
            <h3 class="text-capitalize font-weight-bold mt-5">What is this Web App all about?</h3>
            <p class="text-center"> Now, this web app is designed for aspiring individuals to save up any recipes that
              comes into mind <br> or any recipes you met along the way that inspires you to discover any hidden
              cooking talents. <br> Also those recipes you want to invest with or you want to be inherited by your
              bloodlines.<br>
              It is really unpredectable at times when we crave for something then, boom! Behold a new recipe!</p>
            <p class="text-center font-italic">So, what are you waiting for?</p>
            <p class=""> Create an account and spoil your tummy while saving up recipes you want to cherish and
              nurture
              the hidden cooking talents you have. Enjoy discovering, saving and eating.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div>
    <p class="text-capitalize text-center font-weight-bold" style="font-size:30px;">Meet the Team</p>
    <div class="container">
      <div class="row">
        <div class="col-4">
          <div class="card">
            <img class="card-img-top" src="/static/img/paris.png" class="card-img-top" alt="Paris">
            <div class="card-body text-center">
              <img class="avatar rounded-circle" src="static/img/vangie.png" alt="Bologna">
              <h4 class="card-title">Evangeline Decorion</h4>
              <h6 class="card-subtitle mb-2 text-muted">CCT II</h6>
              <p class="card-text">Robert John Downey Jr.'career has included critical and popular success in his
                youth, followed by a period of substance abuse and legal difficulties, and a resurgence of
                commercial success in middle age. </p>
              <a href="#" class="btn btn-info">Follow</a>
              <a href="#" class="btn btn-outline-info">Message</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img class="card-img-top" src="static/img/indonesia.png" alt="Japan">
            <div class="card-body text-center">
              <img class="avatar rounded-circle" src="static/img/kyla1.png" alt="Bologna">
              <h4 class="card-title">Kyla Jean Dumaguit</h4>
              <h6 class="card-subtitle mb-2 text-muted">CCT II</h6>
              <p class="card-text">Robert John Downey Jr.'career has included critical and popular success in his
                youth, followed by a period of substance abuse and legal difficulties, and a resurgence of
                commercial success in middle age. </p>
              <a href="#" class="btn btn-info">Follow</a>
              <a href="#" class="btn btn-outline-info">Message</a>
            </div>
          </div>
        </div>
        <div class="col-4">
          <div class="card">
            <img class="card-img-top" src="static/img/palawan.png" alt="Palawan">
            <div class="card-body text-center">
              <img class="avatar rounded-circle" src="static/img/goyo.png" alt="Bologna">
              <h4 class="card-title">Rose Marry Goyo</h4>
              <h6 class="card-subtitle mb-2 text-muted">CCT II</h6>
              <p class="card-text">Robert John Downey Jr.'career has included critical and popular success in his
                youth, followed by a period of substance abuse and legal difficulties, and a resurgence of
                commercial success in middle age. </p>
              <a href="#" class="btn btn-info">Follow</a>
              <a href="#" class="btn btn-outline-info">Message</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="style_1">
    <!-- Footer Section Begin -->
    <footer class="footer-section">
      <%- include('../partials/footer');%>
    </footer>
    <!-- Footer Section End -->
</body>

</html>