<!DOCTYPE>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <%- include('../partials/header'); %>
<<<<<<< HEAD
    </header>
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/img/bg3.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Create New Recipe</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <div class="container my-5 py-5" style="height: 100vh;">
        <form action="/recipes/create" method="POST">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-control bg-transparent border-0">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" placeholder="name">
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5">
                        <label for="categoryText">Category Text</label>
                        <input type="text" class="form-control" name="categoryText" placeholder="Input Category">
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5">
                        <label for="category">Category</label>

                        <select name="category" class="form-control" id="category">
                            <option value="desserts">Dessert</option>
                            <option value="appetizers">Appetizers</option>
                            <option value="main_course">Main Course</option>
                        </select>
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5">
                        <label for="videoUrl">Video URl</label>
                        <input type="text" class="form-control" name="videoUrl" placeholder="Input video url">
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5 mb-5">
                        <label for="image">Image</label>
                        <input type="text" class="form-control btn-sm" name="image">
                    </div>
                    <div class="form-control bg-transparent border-0">
                        <label for="prepTime">Preparation Time</label>
                        <input type="text" class="form-control" name="prepTime" placeholder="Input time ">
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5">
                        <label for="cookTime">Cooking Time</label>
                        <input type="text" class="form-control" name="cookTime" placeholder="Input time">
=======
        <!-- ##### Breadcumb Area Start ##### -->
        <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/img/bg3.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="breadcumb-text text-center">
                            <h2>Create New Recipe</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container my-5 py-5" style="height: 100vh;">

            <form action="/recipes/create" method="POST">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-control bg-transparent border-0">
                            <label for="name">Name</label>
                            <input type="text" class="form-control" name="name" placeholder="name">
                        </div>
                        <div class="form-control bg-transparent border-0 mt-5">
                            <label for="categoryText">Category Text</label>
                            <input type="text" class="form-control" name="categoryText" placeholder="Input Category">
                        </div>
                        <div class="form-control bg-transparent border-0 mt-5">
                            <label for="category">Category</label>

                            <select name="category" class="form-control" id="category">
                                <option value="desserts">Dessert</option>
                                <option value="appetizers">Appetizers</option>
                                <option value="main_course">Main Course</option>
                            </select>
                        </div>
                        <div class="form-control bg-transparent border-0 mt-5">
                            <label for="videoUrl">Video URl</label>
                            <input type="text" class="form-control" name="videoUrl" placeholder="Input video url">
                        </div>
                        <div class="form-control bg-transparent border-0 mt-5 mb-5">
                            <label for="image">Image</label>
                            <input type="text" class="form-control btn-sm" name="image">
                        </div>
                        <div class="form-control bg-transparent border-0">
                            <label for="prepTime">Preparation Time</label>
                            <input type="text" class="form-control" name="prepTime" placeholder="Input time ">
                        </div>
                        <div class="form-control bg-transparent border-0 mt-5">
                            <label for="cookTime">Cooking Time</label>
                            <input type="text" class="form-control" name="cookTime" placeholder="Input time">
                        </div>
                        <div class="form-control bg-transparent border-0 mt-5">
                            <label for="yield">Yield</label>
                            <input type="text" class="form-control" name="yield" placeholder="Input number of servings">
                        </div>
                        <div class="form-control bg-transparent border-0 mt-5 mb-3" id="descList">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="3"></textarea>
                        </div><br>
                        <div class="form-control bg-transparent border-0 mb-4 mt-5" id="notesList">
                            <label for="notes">Notes</label>
                            <textarea class="form-control" id="notes" rows="3"></textarea>
                        </div>
>>>>>>> 160fd026151b5bbda6dfcb1908b748ddfafdd33b
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5">
                        <label for="yield">Yield</label>
                        <input type="text" class="form-control" name="yield" placeholder="Input number of servings">
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5 mb-3" id="descList">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" rows="3"></textarea>
                    </div><br>
                    <div class="form-control bg-transparent border-0 mb-4 mt-5" id="notesList">
                        <label for="notes">Notes</label>
                        <textarea class="form-control" id="notes" rows="3"></textarea>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-control bg-transparent border-0 mt-2 " id="tagList">
                        <label for="tags"></label> <button type="button" class="btn btn-sm btn-primary"
                            id="addBtnTag">Add Tags <i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-control bg-transparent border-0 " id="ingList">
                        <label for="ingredients"></label> <button type="button" class="btn btn-sm btn-primary"
                            id="addBtnIng">Add Ingredients <i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-control bg-transparent border-0 " id="insList">
                        <label for="instructions"></label> <button type="button" class="btn btn-sm btn-primary"
                            id="addBtnIns">Add Instructions <i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-control bg-transparent border-0" id="nutriList">
                        <label for="nutritionFacts"></label> <button type="button" class="btn btn-sm btn-primary"
                            id="addBtnNutri" style="width:10rem">Add Nutrition Facts <i class="fa fa-plus"></i></button>
                    </div>
<<<<<<< HEAD
                </div>
                <!-- <div class="form-control bg-transparent border-0 mt-5 mb-3" id="ingList">
                            <label for="ingredients">Ingredients</label>
                            <textarea class="form-control" id="ingredients" rows="3"></textarea>
                        </div><br>
                        <div class="form-control bg-transparent border-0 mt-5" id="insList">
                            <label for="instructions">Instructions</label>
                            <textarea class="form-control" id="instructions" rows="3"></textarea>
                        </div> -->

                <!-- <div class="col-md-3"> -->
                <!-- <div class="form-control bg-transparent border-0 " id="descList">
                            <label for="description">Description</label> <button type="button"
                                class="btn btn-sm btn-primary" id="addBtnDesc">Add Description <i
                                    class="fa fa-plus"></i></button>
                        </div> -->
                <!-- <div class="form-control bg-transparent border-0 mb-4" id="descList">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="3"></textarea>
                        </div><br>
                        <div class="form-control bg-transparent border-0 mt-5 mb-3" id="nutriList">
                            <label for="nutritionFacts">Nutrition Facts</label>
                            <textarea class="form-control" id="nutritionFacts" rows="3"></textarea>
                        </div><br>
                        <div class="form-control bg-transparent border-0 mt-5" id="notesList">
                            <label for="notes">Notes</label>
                            <textarea class="form-control" id="notes" rows="3"></textarea>
                        </div>
                    </div> -->
            </div><br>
            <div class="text-center mt-5">
                <button type="reset" class="btn btn-danger mt-5 mr-3 px-5">Cancel</button>
                <button class="btn btn-primary mt-5 mr-3 px-5">Submit</button>
            </div>
        </form>
    </div><br>
    <footer class="footer-section" style="margin-top:50%;">
        <%- include('../partials/footer'); %>
    </footer>

    <script>
        var count = 0
        $('#addBtnTag').click(function () {
            if (count < 3) $('#tagList').append(`<input type=" text" class="form-control my-3" name="tags[]"
            id="tags">`)
            count++
        })

        $('#addBtnIng').click(function () {
            if (count < 20) $('#ingList').append(`<input type="text" class="form-control my-3" name="ingredients[]">`)
            count++
        })
        $('#addBtnIns').click(function () {
            if (count < 15) $('#insList').append(`<input type="text" class="form-control my-3"
                    name="instructions[]">`)
            count++
        })
        // $('#addBtnDesc').click(function () {
        // $('#descList').append(`<input type="text" class="form-control my-3" name="description[]">`)
        // })
        $('#addBtnNutri').click(function () {
            if (count < 6) $('#nutriList').append(`<input type="text" class="form-control my-3"
                        name="nutritionFacts[]">`)
            count++
        })
                        // $('#addBtnNotes').click(function () {
                        // $('#notesList').append(`<input type="text" class="form-control my-3" name="notes[]">`)
                        // })


    </script>
</body>

</html>
=======
                </div><br>
                <div class="text-center mt-5">
                    <button type="reset" class="btn btn-danger mt-5 mr-3 px-5">Cancel</button>
                    <button class="btn btn-primary mt-5 mr-3 px-5">Submit</button>
                </div>
            </form>
        </div>
        <footer style="margin-top: 50%; margin-bottom: 0;">
            <%- include('../partials/footer');%>
        </footer>
</body>

<script>
    var count = 0
    $('#addBtnTag').click(function () {
        if (count < 3) $('#tagList').append(`<input type="text" class="form-control my-3" name="tags[]" id="tags">`)
        count++
    })

    $('#addBtnIng').click(function () {
        if (count < 20) $('#ingList').append(`<input type="text" class="form-control my-3" name="ingredients[]">`)
        count++
    })
    $('#addBtnIns').click(function () {
        if (count < 15) $('#insList').append(`<input type="text" class="form-control my-3" name="instructions[]">`)
        count++
    })
    // $('#addBtnDesc').click(function () {
    //     $('#descList').append(`<input type="text" class="form-control my-3" name="description[]">`)
    // })
    $('#addBtnNutri').click(function () {
        if (count < 6) $('#nutriList').append(`<input type="text" class="form-control my-3" name="nutritionFacts[]">`)
        count++
    })
    // $('#addBtnNotes').click(function () {
    //     $('#notesList').append(`<input type="text" class="form-control my-3" name="notes[]">`)
    // })

</script>
>>>>>>> 160fd026151b5bbda6dfcb1908b748ddfafdd33b
