<!DOCTYPE>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">
        <%- include('../partials/header'); %>
    </header>
    <!-- ##### Breadcumb Area Start ##### -->
    <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(/static/img/bg3.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-text text-center">
                        <h2>Create New Recipe</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcumb Area End ##### -->

    <div class="container my-5 py-5" style="height: 100vh;">
        <form action="/recipes/create" method="POST" class="bg-color">
            <div class="row">
                <div class="col-md-3">
                    <div class="form-control bg-transparent border-0">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" required placeholder="name" >
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5">
                        <label for="categoryText">Category Text</label>
                        <input type="text" class="form-control" name="categoryText"  required placeholder="Category">
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5">
<<<<<<< HEAD
                        <label for="category"  required>Category</label>

=======
                        <label for="category">Category</label>
>>>>>>> 71d1520b720708313b2b228692453127f5a9e03f
                        <select name="category" class="form-control" id="category">
                            <option value="desserts">Dessert</option>
                            <option value="appetizers">Appetizers</option>
                            <option value="main_course">Main Course</option>
                        </select>
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5">
                        <label for="videoUrl">Video URl</label>
                        <input type="text" class="form-control" name="videoUrl" placeholder="video url"  required autocomplete="off">
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5 mb-5">
                        <label for="image">Image</label>
<<<<<<< HEAD
                        <input type="text" class="form-control btn-sm" name="image"  required  autocomplete="off">
=======
                        <input type="text" class="form-control btn-sm" name="image" placeholder="Input image address">
>>>>>>> 71d1520b720708313b2b228692453127f5a9e03f
                    </div>
                    <div class="form-control bg-transparent border-0">
                        <label for="prepTime">Preparation Time</label>
                        <input type="text" class="form-control" name="prepTime" placeholder="time " required>
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5">
                        <label for="cookTime">Cooking Time</label>
                        <input type="text" class="form-control" name="cookTime" placeholder=" time" required>
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5">
                        <label for="yield">Yield</label>
                        <input type="text" class="form-control" name="yield" placeholder="number of servings" required>
                    </div>
                    <div class="form-control bg-transparent border-0 mt-5 mb-3" id="descList">
                        <label for="description">Description</label>
                        <textarea class="form-control" id="description" name="description" rows="3"  required></textarea>
                    </div><br>
                    <div class="form-control bg-transparent border-0 mb-4 mt-5" id="notesList">
                        <label for="notes">Notes</label>
                        <textarea class="form-control" id="notes" rows="3"name="notes" required></textarea>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-control bg-transparent border-0 mt-2 " id="tagList">
                        <label for="tags"></label> <button type="button" class="btn btn-sm btn-primary"
                            id="addBtnTag">Add Tags <i class="fa fa-plus" required></i></button>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-control bg-transparent border-0 " id="ingList">
                        <label for="ingredients"></label> <button type="button" class="btn btn-sm btn-primary"
                          id="addBtnIng"  required>Add Ingredients <i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="form-control bg-transparent border-0 " id="insList">
                        <label for="instructions"></label> <button type="button" class="btn btn-sm btn-primary"
                            id="addBtnIns" required>Add Instructions <i class="fa fa-plus"></i></button>
                    </div>
                </div>

                <div class="col-md-2">
<<<<<<< HEAD
                    <div class="form-control bg-transparent border-0" id="nutriList"  required>
                        <label for="nutritionFacts"></label> <button type="button" class="btn btn-sm btn-primary"
=======
                    <div class="form-control bg-transparent border-0" id="nutriList">
                        <label for="nutritionFacts"></label><button type="button" class="btn btn-sm btn-primary"
>>>>>>> 71d1520b720708313b2b228692453127f5a9e03f
                            id="addBtnNutri" style="width:10rem">Add Nutrition Facts <i class="fa fa-plus"></i></button>
                    </div>
                </div><br>
                <div class="text-center mt-5">
                    <button type="reset" class="btn btn-danger mt-5 mr-3 px-5 mb-5">Cancel</button>
                    <button class="btn btn-primary mt-5 mr-3 px-5 mb-5">Submit</button>
                </div>
            </form>
        </div>
</body>

<script>
    var count = 0
    // $('#addBtnTag').click(function () {
    //     if (count < 3) $('#tagList').append(`<input type="text" class="form-control my-3" name="tags[]" id="tags">`)
    //     count++
    // })
    $('#addBtnTag').click(function () {
        if (count < 3) $('#tagList').append(`<select name="tags[]" id="tags" class="form-control mt-2">
                             <option value="desserts">Easy</option>
                             <option value="appetizers">Medium</option>
                            <option value="main_course">Intermediate</option>
                            <option value="main_course">Fried</option>
                            <option value="main_course">Baked</option>
                            <option value="main_course">No-bake</option>
                            <option value="main_course">Steam</option>
                            <option value="main_course">Appetizers</option>
                            <option value="main_course">Desserts</option>
                            <option value="main_course">Main Course</option>
                       </select>`)
        count++
    })

    $('#addBtnNutri').click(function () {
        if (count < 6) $('#nutriList').append(`<select name="nutritionFacts[]" class="form-control my-2" id="nutriList">
                            <option value="desserts">Protein</option>
                            <option value="appetizers">Carbohydrates</option>
                            <option value="main_course">Fat</option>
                            <option value="appetizers">Calories</option>
                        </select><input type="text" class="form-control" placeholder="Input amount..">`)
        count++
    })

    $('#addBtnIng').click(function () {
        if (count < 20) $('#ingList').append(`<input type="text" class="form-control my-3" name="ingredients[]">`)
        count++
    })
    $('#addBtnIns').click(function () {
        if (count < 15) $('#insList').append(`<input type="text" class="form-control my-3" name="instructions[]">`)
        count++
    })

</script>
