<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>


    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

      <!-- Top Header Area -->
      <div class="top-header-area">
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-between">
            <!-- Breaking News -->
            <div class="col-12 col-sm-6">
              <div class="breaking-news">
                <a href="../about.html" class="text-left text-decoration-none font-italic" style="font-size: 18px">Welcome
                  my fellow Food Cravers!</a>
              </div>
            </div>

            <!-- Top Social Info -->
            <div class="col-12 col-sm-6">
              <div class="top-social-info text-right">
                <a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ##### Breadcumb Area Start ##### -->
      <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../images/bg5.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="breadcumb-text text-center">
                <h2>Desserts</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ##### Breadcumb Area End ##### -->
      <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #a14d12;;">
        <a class="navbar-brand px-4" href="#">
          <img src="../images/log.png" width="100" height="60" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" style="font-family: Marcellus SC; font-size: 23px">
            <li class="nav-item active">
              <a class="nav-link" href="../html/home.html">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Posts
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="../html/appetizers.html">Appetizers</a>
                <a class="dropdown-item" href="../html/main_course.html">Main Course</a>
                <a class="dropdown-item" href="../html/desserts.html">Desserts</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../html/features.html">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../html/about.html">About</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-0" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </nav>
      <br><br>
      <div class="container-fluid m-2 px-5">
        <div class="row mx-5">
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/dess_lava-cake.html"><img src="../images/dess_nutella-lava.jpg" alt="Nutella Lava Cake"
                  class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Desserts</div>
                <a href="../html/dess_lava-cake.html" class="text-decoration-none">
                  <h4>Chocolate Nutella Lava Cookies</h4>
                </a>
                <p>Oversized rich chocolate cookies are stuffed with Nutella. When you break the cookies open, they
                  release a completely molten, liquid lava Nutella center.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/dess_choco-pancakes.html"><img src="../images/dess_choco-pancakes.png" alt="Chocolate Pancakes"
                  class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Desserts</div>
                <a href="../html/dess_choco-pancakes.html" class="text-decoration-none">
                  <h4>Hot Chocolate Pancakes</h4>
                </a>
                <p>Leftover hot chocolate or cocoa mix gives a chocolaty kick to these pancakes, inside and on top.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/dess_brownies.html"><img src="../images/dess_nutella-brownies.jpg" alt="Nutella Brownies"
                  class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Desserts</div>
                <a href="../html/dess_brownies.html" class="text-decoration-none">
                  <h4>Nutella Brownies</h4>
                </a>
                <p>These Nutella brownies only need 3 ingredients and are ready in less 30 minutes from start to
                  finish.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/dess_choco-ice-cream.html"><img src="../images/dess_choco-ice-cream.jpg" alt="Chocolate Ice Cream"
                  class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Desserts</div>
                <a href="../html/dess_choco-ice-cream.html" class="text-decoration-none">
                  <h4>Death By Chocolate Ice Cream</h4>
                </a>
                <p>Homemade ice cream is a big production. You need to remember to freeze your ice cream maker, make a
                  custard base, chill your custard base, churn the ice cream, then chill the ice cream...</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/dess_mug-cake.html"><img src="../images/dess_nutella-mug-cake.jpg" alt="Nutella Mug Cake"
                  class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Desserts</div>
                <a href="../html/dess_mug-cake.html" class="text-decoration-none">
                  <h4>4 Ingredient Microwave Peanut Butter Nutella Brownie Mug Cake</h4>
                </a>
                <p>A single serving Nutella and peanut butter flavored brownie that cooks in the microwave in about one
                  minute. This easy dessert is just 4 ingredients. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/dess_toffee.html"><img src="../images/dess_toffee-pudding.jpg" alt="Toffee Pudding"
                  class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Desserts</div>
                <a href="../html/dess_toffee.html" class="text-decoration-none">
                  <h4>Sticky Toffee Pudding</h4>
                </a>
                <p> A pudding drizzled with luscious toffee sauce. I LOVED the little pot of toffee
                  sauce that was served next to the pudding — almost more than I liked...</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/dess_choco-chip.html"><img src="../images/dess_choco-chip.png" alt="Chocolate Chip Cookies"
                  class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Desserts</div>
                <a href="../html/dess_choco-chip.html" class="text-decoration-none">
                  <h4>Chocolate Chip Cookies</h4>
                </a>
                <p>After 28 intense, sugar-filled rounds of testing, I believe I finally perfected the chocolate chip
                  cookie. They are chewy, fudgy, filled with two types of chocolate...</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/dess_fried-smores.html"><img src="../images/dess_fried-smores.png" alt="Fried S'mores Bombs"
                  class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Desserts</div>
                <a href="../html/dess_fried-smores.html" class="text-decoration-none">
                  <h4>Fried S'mores Bombs</h4>
                </a>
                <p>If you like fried dough and s'mores, this sweet treat is about to rock your
                  world. You don't even need to build a campfire to make them - you just need
                  a...</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/dess_truffles.html"><img src="../images/dess_truffles.jpg" alt="Truffles" class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Desserts</div>
                <a href="../html/dess_truffles.html" class="text-decoration-none">
                  <h4>Three Ingredient Oreo Truffles</h4>
                </a>
                <p>Truffles made from milk's favorite cookie.</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/dess_churros.html"><img src="../images/dess_churros.jpg" alt="Churros" class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Desserts</div>
                <a href="../html/dess_churros.html" class="text-decoration-none">
                  <h4>Easy Homemade Churros</h4>
                </a>
                <p>We don't often feel like breaking out all of our oil to fry things. But when you have an easy churro
                  recipe this delicious, it's absolutely worth it. </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/dess_oreo.html"><img src="../images/dess_oreo-lava-cake.jpg" alt="Oreo Lava Cake" class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Desserts</div>
                <a href="../html/dess_oreo.html" class="text-decoration-none">
                  <h4>Oreo Lava Cake</h4>
                </a>
                <p>These Oreo Lava cakes start with a warm chocolate cake filled with Oreo cookies and cream lava
                  pudding center. This easy cake doesn't require any mixers and is a great way...</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/dess_cookie-sand.html"><img src="../images/dess_cookie-sand.jpg" alt="Cookie Dough Cookie Sandwich"
                  class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Desserts</div>
                <a href="../html/dess_cookie-sand.html" class="text-decoration-none">
                  <h4>Cookie Dough Cookie Sandwich</h4>
                </a>
                <p>Cookie Dough Cookie Sandwiches are for those that eat the cookie dough while
                  waiting for the chocolate chip cookies to bake... </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Recipe Section End -->
      <hr class="style_1">
      <!-- Footer Section Begin -->
      <footer class="footer-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <div class="fs-left">
                <div class="logo">
                  <a href="./index.html">
                    <img src="../images/logo18.png" alt="">
                  </a>
                </div>
                <p>Craving for food? Well, this blog is right for you. I present to you a wide range of
                  food selections
                  from appetizing appetizers to mouthwatering desserts. Check out some of these
                  yummies and don't forget
                  to subscribe.</p>
              </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
              <form action="#" class="subscribe-form">
                <h3>Subscribe to our newsletter</h3>
                <input type="email" placeholder="Your e-mail">
                <button type="submit">Subscribe</button>
              </form>
              <div class="social-links">
                <a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a>
                <a href="#"><i class="fab fa-pinterest"></i><span>Pinterest</span></a>
                <a href="#"><i class="fab fa-facebook"></i><span>Facebook</span></a>
                <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                <a href="#"><i class="fab fa-youtube"></i><span>Youtube</span></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="copyright-text">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved |
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer Section End -->
  </body>

</html>
