<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>

        <!-- ##### Header Area Start ##### -->
        <header class="header-area">

            <!-- Top Header Area -->
            <div class="top-header-area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-between">
                        <!-- Breaking News -->
                        <div class="col-12 col-sm-6">
                            <div class="breaking-news">
                                <a href="../about.html" class="text-left text-decoration-none font-italic" style="font-size: 18px">Welcome
                                    my fellow Food Cravers!</a>
                            </div>
                        </div>

                        <!-- Top Social Info -->
                        <div class="col-12 col-sm-6">
                            <div class="top-social-info text-right">
                                <a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ##### Breadcumb Area Start ##### -->
            <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../images/bg5.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="breadcumb-text text-center">
                                <h2>Desserts</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Breadcumb Area End ##### -->
            <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #a14d12;;">
                <a class="navbar-brand px-4" href="#">
                    <img src="../images/log.png" width="100" height="60" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto" style="font-family: Marcellus SC; font-size: 23px">
                        <li class="nav-item active">
                            <a class="nav-link" href="../html/home.html">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Posts
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../html/appetizers.html">Appetizers</a>
                                <a class="dropdown-item" href="../html/main_course.html">Main Course</a>
                                <a class="dropdown-item" href="../html/desserts.html">Desserts</a>
                                <a class="dropdown-item" href="../html/drinks.html">Drinks</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../html/features.html">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../html/about.html">About</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-0" type="search" placeholder="Search" aria-label="Search">
                        <button type="button" class="btn btn-outline-light mr-sm-4"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </nav>
            <!-- Single Recipe Section Begin -->
            <section class="single-page-recipe spad">
                <div class="recipe-top">
                    <div class="container-fluid">
                        <div class="recipe-title">
                            <span>~ 4 servings / 38 minutes / easy / American / recipe</span>
                            <h2 class="display-4 font-weight-bold">Oreo Lava Cake</h2>
                            <ul class="tags">
                                <li>Desserts</li>
                                <li>American</li>
                                <li>Baked</li>
                            </ul>
                        </div>
                        <img src="../images/dess_oreo-lava-cake.jpg" class="rounded mx-auto d-block mh-100" alt="Oreo Lava Cake"
                            style="width: 80%; height: 550px;">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="ingredients-item">
                                <div class="intro-item">
                                    <img src="../images/dess_oreo-lava-cake.jpg" alt="Oreo Lava Cake">
                                    <h2 class="" style="font-size: 28px;">Oreo Lava Cake</h2>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="reviews">4.9 from 25 reviews</div>
                                    <div class="recipe-time">
                                        <ul>
                                            <li>Prep time: <span>20 mins</span></li>
                                            <li>Cook time: <span>18 mins</span></li>
                                            <br>
                                            <li>Yield: <span>4 cakes</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ingredient-list">
                                    <div class="recipe-btn font-weight-light text">
                                        <a href="#">Print Recipe</a>
                                        <a href="#" class="black-btn">Pin Recipe</a>
                                    </div>
                                    <div class="list-item">
                                        <h4>Ingredients</h4>
                                        <div class="salad-list">
                                            <h6>For the Cake</h6>
                                            <ul>
                                                <li>1 cup semisweet chocolate chopped</li>
                                                <li>3/4 cup fat-free or low fat milk</li>
                                                <li>1/2 cup all-purpose flour</li>
                                                <li>1 tsp baking powder</li>
                                                <li>2 tbsp vegetable oil</li>
                                            </ul>
                                        </div>
                                        <div class="dressing-list">
                                            <h6>For the Filling</h6>
                                            <ul>
                                                <li>1/4 cup instant Oreo pudding mix</li>
                                                <li>1/2 cup cold low fat milk</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nutrition-fact">
                                <div class="nutri-title">
                                    <h4>Nutrition Facts</h4>
                                    <span>Serves 2</span>
                                </div>
                                <ul>
                                    <li>Total Fat : 30.1g</li>
                                    <li>Cholesterol : 4.9%</li>
                                    <li>Calories: 320kcal</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="recipe-right">
                                <div class="recipe-desc">
                                    <h3>Description</h3>
                                    <p>These Oreo Lava cakes start with a warm chocolate cake filled with Oreo cookies
                                        and cream lava pudding center. This easy cake doesn't require any mixers and is
                                        a great way to satisfy your sweet tooth during this cold winter season.</p>
                                    <p>Try this Oreo Lava Cake Recipe and let me know what you think.</p>
                                </div>
                                <div class="instruction-list">
                                    <h3>Instructions</h3>
                                    <ul>
                                        <li>
                                            <span>01.</span>
                                            In a small bowl, combine pudding mix and cold milk. Beat with a whisk until
                                            completely smooth and no lumps remain. Let mixture stand at room
                                            temperature for about 5 minutes. It should thicken into a pudding.
                                        </li>
                                        <li>
                                            <span>02.</span>
                                            Preheat oven to 350°F. Prepare four (4-oz) ramekins by spraying
                                            with flour. If you don't have an oil spray with flour, you can also grease
                                            inside of ramekins, sprinkle generously with flour, then tap ramekins
                                            (while they are turned upside down) to get rid of excess flour.
                                        </li>
                                        <li>
                                            <span>03.</span>
                                            In a large mixing bowl, add chopped chocolate and milk. Microwave for about
                                            1 minute (be sure to cover the bowl with a microwave-safe paper towel).
                                            Stir with a whisk until chocolate is mostly melted. Microwave again for an
                                            additional 1 minute and stir until melted chocolate is completely uniform.
                                            You can also melt chocolate with milk on the stove, over a pot of simmering
                                            water.
                                        </li>
                                        <li>
                                            <span>04.</span>
                                            Add in remaining cake ingredients. Whisk until batter is completely smooth.
                                        </li>
                                        <li>
                                            <span>05.</span>
                                            Add batter into prepared ramekins, until they are about half full. Add 2
                                            tbsp of Oreo pudding to the center of each ramekin. Evenly divide remaining
                                            batter between the four ramekins, making sure to completely cover the oreo
                                            filling. Cakes will not rise too high during baking, so if they are about
                                            2/3- 3/4 full, it is fine.
                                        </li>
                                        <li>
                                            <span>06.</span>
                                            Place ramekins on a baking sheet. Bake for 17-18 minutes, or until the
                                            surface of cakes are just set.
                                        </li>
                                        <li>
                                            <span>07.</span>
                                            Remove cakes from oven. Use a small spatula to dislodge the sides of the
                                            cakes from the ramekins. Place a small plate on top of each ramekin. Very
                                            quickly, invert the plate with ramekin, so that the plate is now on the
                                            bottom and the ramekin is upside down on top. When you lift up the ramekin,
                                            the cake should be on the plate. Repeat with remaining ramekins. Serve
                                            immediately.
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Single Recipe Section End -->
            <hr class="style_1">
            <div class="row m-5">
                <div class="col-12">
                    <div class="contact-form-area">
                        <div class="section-heading">
                            <h3 class="">Leave a comment</h3>
                        </div>
                        <form action="#" method="post">
                            <div class="row m-5">
                                <div class="col-12 col-lg-6">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10"
                                        placeholder="Message"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn delicious-btn mt-30 ml-3" type="submit">Post Comments</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
            <!-- ##### Other Recipes Area Start ##### -->
            <div class="follow-us-instagram">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="font-weight-light" style="font-size: 25px;">Other Recipes</h5>
                        </div>
                    </div>
                </div>
                <!-- Instagram Feeds -->
                <div class="insta-feeds d-flex flex-wrap">
                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_choco-pancakes.jpg" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_choco-pancakes.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_nutella-brownies.jpg" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_brownies.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_ricecake.jpg" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_ricecake.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_ube-pancake.png" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_ube-pancakes.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_lecheroons.jpg" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_lecheroons.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_nutella-mug-cake.jpg" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_mug-cake.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_doughnuts.jpg" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_doughnuts.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Other Recipes Area End ##### -->
            <!-- Footer Section Begin -->
            <footer class="footer-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="fs-left">
                                <div class="logo">
                                    <a href="./index.html">
                                        <img src="../images/logo18.png" alt="">
                                    </a>
                                </div>
                                <p>Craving for food? Well, this blog is right for you. I present to you a wide range of
                                    food selections
                                    from appetizing appetizers to mouthwatering desserts. Check out some of these
                                    yummies and don't forget
                                    to subscribe.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <form action="#" class="subscribe-form">
                                <h3>Subscribe to our newsletter</h3>
                                <input type="email" placeholder="Your e-mail">
                                <button type="submit">Subscribe</button>
                            </form>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a>
                                <a href="#"><i class="fab fa-pinterest"></i><span>Pinterest</span></a>
                                <a href="#"><i class="fab fa-facebook"></i><span>Facebook</span></a>
                                <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                                <a href="#"><i class="fab fa-youtube"></i><span>Youtube</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright-text">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved |</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer Section End -->
    </body>

</html>
