<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>

        <!-- ##### Header Area Start ##### -->
        <header class="header-area">

            <!-- Top Header Area -->
            <div class="top-header-area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-between">
                        <!-- Breaking News -->
                        <div class="col-12 col-sm-6">
                            <div class="breaking-news">
                                <a href="../about.html" class="text-left text-decoration-none font-italic" style="font-size: 18px">Welcome
                                    my fellow Food Cravers!</a>
                            </div>
                        </div>

                        <!-- Top Social Info -->
                        <div class="col-12 col-sm-6">
                            <div class="top-social-info text-right">
                                <a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ##### Breadcumb Area Start ##### -->
            <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../images/bg5.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="breadcumb-text text-center">
                                <h2>Desserts</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Breadcumb Area End ##### -->
            <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #a14d12;;">
                <a class="navbar-brand px-4" href="#">
                    <img src="../images/log.png" width="100" height="60" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto" style="font-family: Marcellus SC; font-size: 23px">
                        <li class="nav-item active">
                            <a class="nav-link" href="../html/home.html">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Posts
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../html/appetizers.html">Appetizers</a>
                                <a class="dropdown-item" href="../html/main_course.html">Main Course</a>
                                <a class="dropdown-item" href="../html/desserts.html">Desserts</a>
                                <a class="dropdown-item" href="../html/drinks.html">Drinks</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../html/features.html">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../html/about.html">About</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-0" type="search" placeholder="Search" aria-label="Search">
                        <button type="button" class="btn btn-outline-light mr-sm-4"><i class="fas fa-search"></i></button>
                    </form>
                </div>
            </nav>
            <!-- Single Recipe Section Begin -->
            <section class="single-page-recipe spad">
                <div class="recipe-top">
                    <div class="container-fluid">
                        <div class="recipe-title">
                            <span>~ 15 servings / 25 minutes / easy / American / recipe</span>
                            <h2 class="display-4 font-weight-bold">Chewy Chocolate Chunk Cookies</h2>
                            <ul class="tags">
                                <li>Desserts</li>
                                <li>American</li>
                                <li>Baked</li>
                            </ul>
                        </div>
                        <div class="sizer mx-auto d-block">
                            <div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/iH8iTR2fIQQ?rel=0"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <br><br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-5">
                                <div class="ingredients-item">
                                    <div class="intro-item">
                                        <img src="../images/dess_choco-chip.png" alt="Chewy Chocolate Chunk Cookies">
                                        <h2 class="" style="font-size: 28px;">Chewy Chocolate Chunk Cookies</h2>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                        <div class="reviews">4.9 from 25 reviews</div>
                                        <div class="recipe-time">
                                            <ul>
                                                <li>Prep time: <span>5 mins</span></li>
                                                <li>Total time: <span>20 mins</span></li>
                                                <br>
                                                <li>Yield: <span>15</span></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="ingredient-list">
                                        <div class="recipe-btn font-weight-light text">
                                            <a href="#">Print Recipe</a>
                                            <a href="#" class="black-btn">Pin Recipe</a>
                                        </div>
                                        <div class="list-item">
                                            <h4>Ingredients</h4>
                                            <div class="salad-list">
                                                <h6>For the batter</h6>
                                                <ul>
                                                    <li>1 c. (2 sticks) butter</li>
                                                    <li>1 c. packed brown sugar</li>
                                                    <li>1/2 c. granulated sugar</li>
                                                    <li>1 large egg, plus 1 egg yolk</li>
                                                    <li>1 tsp. pure vanilla extract</li>
                                                    <li>2 c. all-purpose flour</li>
                                                    <li>1 tsp. baking soda</li>
                                                    <li>1 tsp. kosher salt </li>
                                                    <li>1/4 tsp. cinnamon</li>
                                                    <li>1 1/2 c. chocolate chips</li>
                                                    <li>3 oz. chopped chocolate </li>
                                                    <li>Flaky sea salt, for topping</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="nutrition-fact">
                                    <div class="nutri-title">
                                        <h4>Nutrition Facts</h4>
                                        <span>Serves 4</span>
                                    </div>
                                    <ul>
                                        <li>Total Fat : 20.4g</li>
                                        <li>Cholesterol : 2%</li>
                                        <li>Calories: 345</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="recipe-right">
                                    <div class="recipe-desc">
                                        <h3>Description</h3>
                                        <p>After 28 intense, sugar-filled rounds of testing, I believe I finally
                                            perfected
                                            the chocolate chip cookie. They are chewy, fudgy, filled with two types of
                                            chocolate, and rival the size of any bakeries. They are a work of art.
                                            Taking
                                            inspiration from Grandma's nearly perfect cookie, these have plenty of
                                            butter
                                            and a bit of love. I'm certain you'll need no other chocolate chip cookie
                                            recipe ever again.</p>
                                        <p>Try this Recipe and let me know what you think.</p>

                                    </div>
                                    <div class="instruction-list">
                                        <h3>Instructions</h3>
                                        <ul>
                                            <li>
                                                <span>01.</span>
                                                Preheat oven to 325° and line 2 large baking sheets with parchment. In
                                                a
                                                small saucepan over medium heat, melt butter. Bring it to a boil and
                                                let
                                                boil one minute.
                                            </li>
                                            <li>
                                                <span>02.</span>
                                                Place sugars in a large bowl (or in the bowl of a stand mixer fitted
                                                with
                                                the paddle attachment), then pour hot butter over sugars. Beat with a
                                                hand
                                                mixer until combined, 1 minute. Add egg, egg yolk, and vanilla and beat
                                                until light and creamy, 2 minutes.
                                            </li>
                                            <li>
                                                <span>03.</span>
                                                In another large bowl, whisk together flour, baking soda, salt, and
                                                cinnamon. Add to wet ingredients and beat until dry ingredients are
                                                almost
                                                incorporated with just a few white streaks. Add chocolates and stir
                                                until
                                                just combined.
                                            </li>
                                            <li>
                                                <span>04.</span>
                                                Using a large cookie scoop, scoop dough (about 3 tablespoons) onto
                                                prepared
                                                pans about 3” apart and sprinkle with sea salt. Bake until edges are
                                                golden
                                                and almost set in the middle, 14 to 15 minutes. Let cool on pan for 5
                                                minutes, then transfer to
                                                cooling rack to cool completely. Repeat with remaining dough.
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="notes">
                                        <h3>Notes</h3>
                                        <div class="notes-item">
                                            <span>i</span>
                                            <p>Cookies should still look slightly underdone to achieve the perfect
                                                golden color.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </section>
            <div class="container-fluid">
                <div class="col-sm-8 mx-auto d-block">
                    <img src="../images/dess_choco-chip.png" class="rounded mx-auto d-block mh-100" alt="Chewy Chocolate Chunk Cookies"
                        style="width: 800px; height: 500px;">
                </div>
            </div>
            <!-- Single Recipe Section End -->
            <hr class="style_1">
            <div class="row m-5">
                <div class="col-12">
                    <div class="contact-form-area">
                        <div class="section-heading">
                            <h3 class="">Leave a comment</h3>
                        </div>
                        <form action="#" method="post">
                            <div class="row m-5">
                                <div class="col-12 col-lg-6">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10"
                                        placeholder="Message"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn delicious-btn mt-30 ml-3" type="submit">Post Comments</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
            <!-- ##### Other Recipes Area Start ##### -->
            <div class="follow-us-instagram">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="font-weight-light" style="font-size: 25px;">Other Recipes</h5>
                        </div>
                    </div>
                </div>
                <!-- Instagram Feeds -->
                <div class="insta-feeds d-flex flex-wrap">
                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_choco-pancakes.png" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_choco-pancakes.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_nutella-brownies.jpg" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_brownies.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_fried-smores.png" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_fried-smores.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_choco-ice-cream.jpg" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_choco-ice-cream.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_churros.jpg" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_churros.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_nutella-mug-cake.jpg" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_mug-cake.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/dess_toffee-pudding.jpg" alt="">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/dess_toffee.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Other Recipes Area End ##### -->
            <!-- Footer Section Begin -->
            <footer class="footer-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="fs-left">
                                <div class="logo">
                                    <a href="./index.html">
                                        <img src="../images/logo18.png" alt="">
                                    </a>
                                </div>
                                <p>Craving for food? Well, this blog is right for you. I present to you a wide range of
                                    food selections
                                    from appetizing appetizers to mouthwatering desserts. Check out some of these
                                    yummies and don't forget
                                    to subscribe.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <form action="#" class="subscribe-form">
                                <h3>Subscribe to our newsletter</h3>
                                <input type="email" placeholder="Your e-mail">
                                <button type="submit">Subscribe</button>
                            </form>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a>
                                <a href="#"><i class="fab fa-pinterest"></i><span>Pinterest</span></a>
                                <a href="#"><i class="fab fa-facebook"></i><span>Facebook</span></a>
                                <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                                <a href="#"><i class="fab fa-youtube"></i><span>Youtube</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright-text">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved |</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer Section End -->
    </body>

</html>
