<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head'); %>
    </head>

    <body>

        <!-- ##### Header Area Start ##### -->
        <header class="header-area">

            <!-- Top Header Area -->
            <div class="top-header-area">
                <div class="container h-100">
                    <div class="row h-100 align-items-center justify-content-between">
                        <!-- Breaking News -->
                        <div class="col-12 col-sm-6">
                            <div class="breaking-news">
                                <a href="../about.html" class="text-left text-decoration-none font-italic" style="font-size: 18px">Welcome
                                    my fellow Food Cravers!</a>
                            </div>
                        </div>

                        <!-- Top Social Info -->
                        <div class="col-12 col-sm-6">
                            <div class="top-social-info text-right">
                                <a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a>
                                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ##### Breadcumb Area Start ##### -->
            <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../images/bg6.jpg);">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <div class="col-12">
                            <div class="breadcumb-text text-center">
                                <h2>Main Course</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Breadcumb Area End ##### -->
            <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #a14d12;;">
                <a class="navbar-brand px-4" href="#">
                    <img src="../images/log.png" width="100" height="60" alt="">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto" style="font-family: Marcellus SC; font-size: 23px">
                        <li class="nav-item active">
                            <a class="nav-link" href="../html/home.html">Home<span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Posts
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="../html/appetizers.html">Appetizers</a>
                                <a class="dropdown-item" href="../html/main_course.html">Main Course</a>
                                <a class="dropdown-item" href="../html/desserts.html">Desserts</a>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../html/features.html">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../html/about.html">About</a>
                        </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-0" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
            </nav>
            <!-- Single Recipe Section Begin -->
            <section class="single-page-recipe spad">
                <div class="recipe-top">
                    <div class="container-fluid">
                        <div class="recipe-title">
                            <span>~ 2 servings / 17 minutes / easy / filipino / recipe</span>
                            <h2 class="display-4 font-weight-bold">Creamy Carbonara</h2>
                            <ul class="tags">
                                <li>Main Course</li>
                                <li>Asian</li>
                                <li>Cooked</li>
                            </ul>
                        </div>
                        <img src="../images/main_carbonara.png" class="rounded mx-auto d-block mh-100" alt="Creamy Carbonara"
                            style="width: 80%; height: 490px;">
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="ingredients-item">
                                <div class="intro-item">
                                    <img src="../images/main_carbonara.png" alt="Creamy Carbonara">
                                    <h2 class="" style="font-size: 28px;">Creamy Carbonara</h2>
                                    <div class="rating">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="reviews">4.9 from 25 reviews</div>
                                    <div class="recipe-time">
                                        <ul>
                                            <li>Prep time: <span>12 min</span></li>
                                            <li>Cook time: <span>5 min</span></li>
                                            <br>
                                            <li>Yield: <span>2</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="ingredient-list">
                                    <div class="recipe-btn font-weight-light text">
                                        <a href="#">Print Recipe</a>
                                        <a href="#" class="black-btn">Pin Recipe</a>
                                    </div>
                                    <div class="list-item">
                                        <h4>Ingredients</h4>
                                        <div class="salad-list">
                                            <h6>For the batter</h6>
                                            <ul>
                                                <li>1 1/4 cups all-purpose flour</li>
                                                <li>1 teaspoon baking powder</li>
                                                <li>1 teaspoon salt</li>
                                                <li>1 piece egg beaten</li>
                                                <li>1 cup milk</li>
                                                <li>1 cup Panko bread crumbs</li>
                                                <li>1/4 teaspoon ground black pepper</li>
                                                <li>3 cups cooking oil</li>
                                                <li>1 teaspoon salt</li>
                                            </ul>
                                        </div>
                                        <div class="dressing-list">
                                            <h6>For the dressing</h6>
                                            <ul>
                                                <li>1 brick of frozen udon</li>
                                                <li>1/2 cup kimchi, plus a bit of kimchi juice</li>
                                                <li>1 tablespoon of butter</li>
                                                <li>1 sac of mentaiko</li>
                                                <li>sliced green onions and nori, to finish</li>
                                                <li>1 tablespoon of butter</li>
                                                <li>1 sac of mentaiko</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="nutrition-fact">
                                <div class="nutri-title">
                                    <h4>Nutrition Facts</h4>
                                    <span>Serves 2</span>
                                </div>
                                <ul>
                                    <li>Total Fat : 20.4g</li>
                                    <li>Cholesterol : 2%</li>
                                    <li>Calories: 345</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="recipe-right">
                                <div class="recipe-desc">
                                    <h3>Description</h3>
                                    <p>This Christmas, level up your family's favorite Carbonara with Eden Cheese! This
                                        season, make sure your Carbonara is creamier and cheesier than ever with Eden
                                        Cheese. Made with Eden's Goodness. Creamy and Cheesy</p>
                                    <p>Try this Onion Rings Recipe and let me know what you think.</p>
                                    <div class="embed-responsive embed-responsive-16by9">
                                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0"
                                            allowfullscreen></iframe>
                                    </div>
                                </div>
                                <div class="instruction-list">
                                    <h3>Instructions</h3>
                                    <ul>
                                        <li>
                                            <span>01.</span>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.
                                            Donec
                                            in
                                            sodales dui, a blandit nunc. Pellentesque id eros venenatis, sollicitudin
                                            neque
                                            sodales, vehicula nibh. Nam massa odio, porttitor vitae efficitur non,
                                            ultricies
                                            volutpat tellus. Cras egestas in lacus a finibus. Suspendisse sed urna at
                                            elit
                                            condimentum viverra. Suspendisse non lobortis nisi. Maecenas accumsan quam
                                            quis
                                            porta laoreet. Aliquam felis odio, aliquet fermentum semper at, porttitor
                                            ac mi.
                                        </li>
                                        <li>
                                            <span>02.</span>
                                            Donec sit amet enim tortor. Sed egestas nulla nibh, vitae porta velit
                                            sagittis
                                            eget.
                                            Donec vitae tellus semper, cursus sem id, iaculis purus. Aenean ligula
                                            risus,
                                            maximus tristique eros vel, auctor ornare tortor. Aliquam vel augue sapien.
                                            Duis
                                            non
                                            auctor ante, ac vestibulum tortor. Etiam quis dolor ultricies, dignissim
                                            ante a,
                                            ornare ipsum. Phasellus suscipit rhoncus nulla, quis bibendum tortor
                                            elementum
                                            ac.
                                            Nullam viverra tellus diam, nec accumsan orci aliquam sed. Sed placerat
                                            sagittis
                                            lacus, non rutrum diam volutpat id.
                                        </li>
                                        <li>
                                            <span>03.</span>
                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                            tempor
                                            incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet.
                                            Donec
                                            in
                                            sodales dui, a blandit nunc. Pellentesque id eros venenatis, sollicitudin
                                            neque
                                            sodales, vehicula nibh. Nam massa odio, porttitor vitae efficitur non,
                                            ultricies
                                            volutpat tellus. Cras egestas in lacus a finibus. Suspendisse sed urna at
                                            elit
                                            condimentum viverra. Suspendisse non lobortis nisi. Maecenas accumsan quam
                                            quis
                                            porta laoreet. Aliquam felis odio, aliquet fermentum semper at, porttitor
                                            ac mi.
                                        </li>
                                        <li>
                                            <span>04.</span>
                                            Donec sit amet enim tortor. Sed egestas nulla nibh, vitae porta velit
                                            sagittis
                                            eget.
                                            Donec vitae tellus semper, cursus sem id, iaculis purus. Aenean ligula
                                            risus,
                                            maximus tristique eros vel, auctor ornare tortor. Aliquam vel augue sapien.
                                            Duis
                                            non
                                            auctor ante, ac vestibulum tortor. Etiam quis dolor ultricies, dignissim
                                            ante a,
                                            ornare ipsum. Phasellus suscipit rhoncus nulla, quis bibendum tortor
                                            elementum
                                            ac.
                                            Nullam viverra tellus diam, nec accumsan orci aliquam sed. Sed placerat
                                            sagittis
                                            lacus, non rutrum diam volutpat id.
                                        </li>
                                    </ul>
                                </div>
                                <div class="notes">
                                    <h3>Notes</h3>
                                    <div class="notes-item">
                                        <span>i</span>
                                        <p>The secret for a good onion ring is in the batter. The batter must contain
                                            the
                                            right amount of flavor to compliment the onion. It should also be crisp
                                            enough
                                            to be enjoyed. While there are many onion ring batter recipes around, I am
                                            still
                                            sticking with simplest recipe that I know.</p>
                                    </div>
                                    <div class="notes-item">
                                        <span>i</span>
                                        <p>Expert Tip: Instead of wasting the small rings, save them in a bag for other
                                            recipes that use onions.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Single Recipe Section End -->

            <div class="row m-5">
                <div class="col-12">
                    <div class="contact-form-area">
                        <div class="section-heading">
                            <h3 class="">Leave a comment</h3>
                        </div>
                        <form action="#" method="post">
                            <div class="row m-5">
                                <div class="col-12 col-lg-6">
                                    <input type="text" class="form-control" id="name" placeholder="Name">
                                </div>
                                <div class="col-12 col-lg-6">
                                    <input type="email" class="form-control" id="email" placeholder="E-mail">
                                </div>
                                <div class="col-12">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control" id="message" cols="30" rows="10"
                                        placeholder="Message"></textarea>
                                </div>
                                <div class="col-12">
                                    <button class="btn delicious-btn mt-30 ml-3" type="submit">Post Comments</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            </div>
            </div>
            </div>
            <!-- ##### Other Recipes Area Start ##### -->
            <div class="follow-us-instagram">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="font-weight-light" style="font-size: 25px;">Other Recipes</h5>
                        </div>
                    </div>
                </div>
                <!-- Instagram Feeds -->
                <div class="insta-feeds d-flex flex-wrap">
                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/main_pata.jpg" alt="Crispy Pata">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/main_pata.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/main_carbonara.png" alt="Carbonara">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/main_carbonara.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/main_keto-lasagna.jpg" alt="Lasagna">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/main_keto-lasagna.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/main_pata.jpg" alt="Crispy Pata">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/main_pata.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/main_enchilada-rice-casserole.jpg" alt="Enchilada Rice">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/main_enchilada-rice-casserole.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/main_chicken-nuggets.jpg" alt="Nuggets">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/main_nuggets.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>

                    <!-- Single Insta Feeds -->
                    <div class="single-insta-feeds">
                        <img src="../images/main_carbonara.png" alt="Carbonara">
                        <!-- Icon -->
                        <div class="plus-icon">
                            <a href="../html/main_carbonara.html"><i class="fa fa-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ##### Other Recipes Area End ##### -->
            <!-- Footer Section Begin -->
            <footer class="footer-section">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="fs-left">
                                <div class="logo">
                                    <a href="./index.html">
                                        <img src="../images/logo.png" alt="">
                                    </a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut
                                    labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus
                                    commodo
                                    viverra maecenas accumsan lacus vel facilisis.</p>
                            </div>
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <form action="#" class="subscribe-form">
                                <h3>Subscribe to our newsletter</h3>
                                <input type="email" placeholder="Your e-mail">
                                <button type="submit">Subscribe</button>
                            </form>
                            <div class="social-links">
                                <a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a>
                                <a href="#"><i class="fab fa-pinterest"></i><span>Pinterest</span></a>
                                <a href="#"><i class="fab fa-facebook"></i><span>Facebook</span></a>
                                <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                                <a href="#"><i class="fab fa-youtube"></i><span>Youtube</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="copyright-text">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;
                                <script>document.write(new Date().getFullYear());</script> All rights reserved |</a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- Footer Section End -->
    </body>

</html>
