<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head'); %>
</head>

<body>

  <!-- ##### Header Area Start ##### -->
  <header class="header-area">
    <%- include('../partials/header'); %>
    <br><br>
    <div class="container-fluid m-2 px-5">
      <div class="row mx-5">
        <div class="col-sm-4">
          <div class="recipe-item">
            <a href="/main_keto-lasagna"><img src="static/img/main_keto-lasagna.jpg" alt="Low Carb Keto Lasagna"
                class="image"></a>
            <div class="ri-text">
              <div class="cat-name">Main Course</div>
              <a href="/main_keto-lasagna" class="text-decoration-none">
                <h4>Low Carb Keto Lasagna</h4>
              </a>
              <p>This gluten free "Just Like the Real Thing" Low Carb Keto Lasagna is sure to become a new family
                favorite recipe. It is in heavy rotation in our ...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="recipe-item">
            <a href="/main_chi-estofado"><img src="static/img/main_chi-estofado.jpg" alt="Chicken Estofado with Banana"
                class="image"></a>
            <div class="ri-text">
              <div class="cat-name">Main Course</div>
              <a href="/main_chi-estofado" class="text-decoration-none">
                <h4>Chicken Estofado with Banana</h4>
              </a>
              <p>This chicken stew recipe delivers comfort every time! ou will love this chicken estofado not only
                it's easy to cook dish, the ingredients...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="recipe-item">
            <a href="/main_dumplings"><img src="static/img/main_dumplings.jpg" alt="Dumplings" class="image"></a>
            <div class="ri-text">
              <div class="cat-name">Main Course</div>
              <a href="/main_dumplings" class="text-decoration-none">
                <h4>Easy Korean Pork and Onion Dumplings</h4>
              </a>
              <p>Korea's influence over our love for food hasn't stopped! From their version of the fried rice called
                the bibimbap to the incredibly crunchy bites you get...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="recipe-item">
            <a href="/main_rice"><img src="static/img/main_enchilada-rice-casserole.jpg" alt="Enchilada Rice Casserole"
                class="image"></a>
            <div class="ri-text">
              <div class="cat-name">Main Course</div>
              <a href="/main_rice" class="text-decoration-none">
                <h4>Enchilada Rice Casserole</h4>
              </a>
              <p>This enchilada rice casserole is comforting and easy dinner. Flavorful rice is baked with all of
                your favorite enchilada fillings like chicken, cheese,... </p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="recipe-item">
            <a href="/main_carbonara"><img src="static/img/main_carbonara.png" alt="Creamy Carbonara" class="image"></a>
            <div class="ri-text">
              <div class="cat-name">Main Course</div>
              <a href="/main_carbonara" class="text-decoration-none">
                <h4>Creamy Carbonara</h4>
              </a>
              <p>This Christmas, level up your family's favorite Carbonara with Eden Cheese! This season, make sure your
                Carbonara is creamier and cheesier than ever...</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="recipe-item">
            <a href="/main_pata"><img src="static/img/main_pork-belly.png" alt="Crispy Pork Belly" class="image"></a>
            <div class="ri-text">
              <div class="cat-name">Main Course</div>
              <a href="/main_pata" class="text-decoration-none">
                <h4>Crispy Golden Pork Belly</h4>
              </a>
              <p>This is the best pork belly recipe I’ve made. The pork skin is incredibly crispy, perfectly golden,
                and the prep work is very minimal compared to all the other pork bellies I’ve made...</p>
            </div>
          </div>
        </div>
      </div>
      <!-- Recipe Section End -->
      <hr class="style_1">
      <!-- Footer Section Begin -->
      <footer class="footer-section">
        <div class="container">
          <div class="row">
            <div class="col-lg-5">
              <div class="fs-left">
                <div class="logo">
                  <a href="/home">
                    <img src="static/img/logo18.png" alt="">
                  </a>
                </div>
                <p>Craving for food? Well, this blog is right for you. I present to you a wide range of
                  food selections
                  from appetizing appetizers to mouthwatering desserts. Check out some of these
                  yummies and don't forget
                  to subscribe.</p>
              </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
              <form action="#" class="subscribe-form">
                <h3>Subscribe to our newsletter</h3>
                <input type="email" placeholder="Your e-mail">
                <button type="submit">Subscribe</button>
              </form>
              <div class="social-links">
                <a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a>
                <a href="#"><i class="fab fa-pinterest"></i><span>Pinterest</span></a>
                <a href="#"><i class="fab fa-facebook"></i><span>Facebook</span></a>
                <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                <a href="#"><i class="fab fa-youtube"></i><span>Youtube</span></a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-12">
              <div class="copyright-text">
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;
                <script>document.write(new Date().getFullYear());</script> All rights reserved |
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer Section End -->
      <script src="/static/js/active.js"></script>
</body>
</html>