<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include('../partials/head'); %>
  </head>

  <body>

    <!-- ##### Header Area Start ##### -->
    <header class="header-area">

      <!-- Top Header Area -->
      <div class="top-header-area">
        <div class="container h-100">
          <div class="row h-100 align-items-center justify-content-between">
            <!-- Breaking News -->
            <div class="col-12 col-sm-6">
              <div class="breaking-news">
                <a href="../about.html" class="text-left text-decoration-none font-italic" style="font-size: 18px">Welcome
                  my fellow Food Cravers!</a>
              </div>
            </div>

            <!-- Top Social Info -->
            <div class="col-12 col-sm-6">
              <div class="top-social-info text-right">
                <a href="#"><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-twitter" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-dribbble" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-behance" aria-hidden="true"></i></a>
                <a href="#"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ##### Breadcumb Area Start ##### -->
      <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../images/bg6.jpg);">
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <div class="col-12">
              <div class="breadcumb-text text-center">
                <h2>Main Course</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- ##### Breadcumb Area End ##### -->
      <nav class="navbar navbar-expand-sm navbar-dark sticky-top" style="background-color: #a14d12;;">
        <a class="navbar-brand px-4" href="#">
          <img src="../images/log.png" width="100" height="60" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto" style="font-family: Marcellus SC; font-size: 23px">
            <li class="nav-item active">
              <a class="nav-link" href="../html/home.html">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                Posts
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="../html/appetizers.html">Appetizers</a>
                <a class="dropdown-item" href="../html/main_course.html">Main Course</a>
                <a class="dropdown-item" href="../html/desserts.html">Desserts</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../html/features.html">Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../html/about.html">About</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-0" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </nav>
      <br><br>
      <div class="container-fluid m-2 px-5">
        <div class="row mx-5">
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/main_keto-lasagna.html"><img src="../images/main_keto-lasagna.jpg" alt="Low Carb Keto Lasagna"
                  class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Main Course</div>
                <a href="../html/main_keto-lasagna.html" class="text-decoration-none">
                  <h4>Low Carb Keto Lasagna</h4>
                </a>
                <p>This gluten free "Just Like the Real Thing" Low Carb Keto Lasagna is sure to become a new family
                  favorite recipe. It is in heavy rotation in our ...</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/main_chi-estofado.html"><img src="../images/main_chi-estofado.jpg" alt="Chicken Estofado with Banana"
                  class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Main Course</div>
                <a href="../html/main_chi-estofado.html" class="text-decoration-none">
                  <h4>Chicken Estofado with Banana</h4>
                </a>
                <p>This chicken stew recipe delivers comfort every time! ou will love this chicken estofado not only
                  it's easy to cook dish, the ingredients...</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/main_dumplings.html"><img src="../images/main_dumplings.jpg" alt="Dumplings" class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Main Course</div>
                <a href="../html/main_dumplings.html" class="text-decoration-none">
                  <h4>Easy Korean Pork and Onion Dumplings</h4>
                </a>
                <p>Korea's influence over our love for food hasn't stopped! From their version of the fried rice called
                  the bibimbap to the incredibly crunchy bites you get...</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/main_rice.html"><img src="../images/main_enchilada-rice-casserole.jpg" alt="Enchilada Rice Casserole"
                  class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Main Course</div>
                <a href="../html/main_rice.html" class="text-decoration-none">
                  <h4>Enchilada Rice Casserole</h4>
                </a>
                <p>This enchilada rice casserole is comforting and easy dinner. Flavorful rice is baked with all of
                  your favorite enchilada fillings like chicken, cheese,... </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/main_carbonara.html"><img src="../images/main_carbonara.png" alt="Creamy Carbonara"
                  class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Main Course</div>
                <a href="../html/main_carbonara.html" class="text-decoration-none">
                  <h4>Creamy Carbonara</h4>
                </a>
                <p>This Christmas, level up your family's favorite Carbonara with Eden Cheese! This season, make sure your Carbonara is creamier and cheesier than ever...</p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="recipe-item">
              <a href="../html/main_pata.html"><img src="../images/main_pork-belly.png" alt="Crispy Pork Belly" class="image"></a>
              <div class="ri-text">
                <div class="cat-name">Main Course</div>
                <a href="../html/main_pata.html" class="text-decoration-none">
                  <h4>Crispy Golden Pork Belly</h4>
                </a>
                <p>This is the best pork belly recipe I’ve made. The pork skin is incredibly crispy, perfectly golden,
                  and the prep work is very minimal compared to all the other pork bellies I’ve made...</p>
              </div>
            </div>
          </div>
        </div>
        <!-- Recipe Section End -->
        <hr class="style_1">
        <!-- Footer Section Begin -->
        <footer class="footer-section">
          <div class="container">
            <div class="row">
              <div class="col-lg-5">
                <div class="fs-left">
                  <div class="logo">
                    <a href="./index.html">
                      <img src="../images/logo18.png" alt="">
                    </a>
                  </div>
                  <p>Craving for food? Well, this blog is right for you. I present to you a wide range of
                    food selections
                    from appetizing appetizers to mouthwatering desserts. Check out some of these
                    yummies and don't forget
                    to subscribe.</p>
                </div>
              </div>
              <div class="col-lg-6 offset-lg-1">
                <form action="#" class="subscribe-form">
                  <h3>Subscribe to our newsletter</h3>
                  <input type="email" placeholder="Your e-mail">
                  <button type="submit">Subscribe</button>
                </form>
                <div class="social-links">
                  <a href="#"><i class="fab fa-instagram"></i><span>Instagram</span></a>
                  <a href="#"><i class="fab fa-pinterest"></i><span>Pinterest</span></a>
                  <a href="#"><i class="fab fa-facebook"></i><span>Facebook</span></a>
                  <a href="#"><i class="fab fa-twitter"></i><span>Twitter</span></a>
                  <a href="#"><i class="fab fa-youtube"></i><span>Youtube</span></a>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-12">
                <div class="copyright-text">
                  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  Copyright &copy;
                  <script>document.write(new Date().getFullYear());</script> All rights reserved |
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- Footer Section End -->
  </body>

</html>
