<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>
    <header>
        <%- include('../partials/header'); %>
    </header><br><br><br>



    <div class="form bg-success mt-5 mr-5 mx-5 mb-5">
        <h1 style="margin-top:100px"> Pinned Recipe</h1>
    </div>











</body>

</html>